extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	include ../../parts/intro
	include ../../parts/advantages
	include ../../parts/best-price
	include ../../parts/surface
	include ../../parts/price
	include ../../parts/allinc
	include ../../parts/calc
	include ../../parts/oneday
	include ../../parts/fix
	include ../../parts/ready
	include ../../parts/whatsapp
	include ../../parts/de
	

	.bg-wrap
		include ../../parts/economy
		include ../../parts/foreman
		.bg
			img(src="_/uploads/" alt="")

	include ../../parts/objects

	.bg-wrap
		include ../../parts/estimate
		include ../../parts/gifts
		.bg
			img(src="_/uploads/" alt="")

	include ../../parts/installment
	include ../../parts/reviews
	include ../../parts/reputation
	include ../../parts/express
	include ../../parts/start
	include ../../parts/examples
	include ../../parts/remotely
	include ../../parts/steps
	include ../../parts/cheap
	include ../../parts/youtube
	include ../../parts/do
	include ../../parts/pay
	include ../../parts/cooperate
	include ../../parts/instructions
	include ../../parts/save
	include ../../parts/office
	include ../../parts/map
	include ../../parts/contacts
	include ../../parts/order