extends ../../templates/default
block vars
	-
		title = "Главная страница"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.intro.bg-wrap
		.case
			.intro__content
				.intro__title.h1 Механизированная #[br]#[strong штукатурка] #[u от 300 р/м#[sup 2]]
				.intro__subtitle.h2 в Москве и МО с гарантией лучшей цены
				.intro__materials.b-materials
					.b-materials__img
						img(src="" alt="")
					.b-materials__text
						p Закупаем материал напрямую с завода без дилерских #[br]наценок, что #[strong дает экономию до 30%.] Не перепродаем #[br]заявки, а сами реализуем работу — #[strong все специалисты #[br]в штате, а техника в собственности у компании.]
				a.intro__btn.btn.--md.--bg-blue() РАССЧИТАТЬ СТОИМОСТЬ
			.intro__count.round
				.round__wrap
					.round__img
						img(src="" alt="")
					.round__text Оштукатурили 1500+ #[br]домов с 2018 года

			.intro__img
				img(src="" alt="")

		.intro__bg.bg
			img(src="" alt="")


	.advantages
		.case
			.advantages__wrap.b
				.advantages__list
					.advantages__item
						.advantages__icon
							img(src="" alt="")
						.advantages__subtitle.h4 Сэкономим вам до 30% #[br]на материалах
						.advantages__text Покупаем по оптовым ценам штукатурку #[br]напрямую с завода и храним на своём складе

					.advantages__item
						.advantages__icon
							img(src="" alt="")
						.advantages__subtitle.h4 Соблюдаем #[br]СНиП и ГОСТ
						.advantages__text При необходимости подготовим полный #[br]комплект исполнительной документации

					.advantages__item
						.advantages__icon
							img(src="" alt="")
						.advantages__subtitle.h4 Выходим на объект #[br]в день заказа
						.advantages__text Бригады заезжают на объект #[br]в день подписания договора

					.advantages__item
						.advantages__icon
							img(src="" alt="")
						.advantages__subtitle.h4 Штукатурим любые #[br]поверхности
						.advantages__text Стены, потолки, откосы, фасады, #[br]а также делаем полусухую стяжку пола

					.advantages__item
						.advantages__icon
							img(src="" alt="")
						.advantages__subtitle.h4 Гарантия #[br]3 года
						.advantages__text Если со штукатуркой будут проблемы, #[br]исправим их за свой счет

					.advantages__item
						.advantages__icon
							img(src="" alt="")
						.advantages__subtitle.h4 Поэтапная #[br]оплата
						.advantages__text При заезде рабочих на объект вносите #[br]предоплату 30% по договору. Остальную #[br]часть после завершения всех работ

	.best-price.bg
		.case
			.best-price__person.person
				.person__icon
					img(src="" alt="")
				.person__name ПЕТР #[br]НИКИТИН
				.person__position Руководитель #[br]компании
			.best-price__img
				img(src="" alt="")
			.best-price__content
				.best-price__title.h1 Даем гарантию #[strong лучшей цены]
				.best-price__subtitle.bi
					.bi__icon
						img(src="" alt="")
					.bi__text.h2 Если найдете дешевле, мы #[br]снизим цену до -10%
				.best-price__quote.quote
					h3 Почему мы гарантируем самую низкую цену
					p Мы закупаем материал напрямую с завода без дилерских наценок, #[br]что дает экономию до 30%. Не перепродаем заявки, а сами реализуем #[br]работу — все специалисты в штате, а штукатурные станции #[br]и автомобили в собственности у компании.
				.best-price__foot
					a.best-price__btn.btn.--md.--bg-blue(href="") РАССЧИТАТЬ СТОИМОСТЬ
					.best-price__btn-desc В феврале делаем максимальную скидку #[br]и доставляем материалы за свой счет

		.best-price__img
			img(src="" alt="")


	.surface
		.case
			.surface__title.h1 ШТУКАТУРИМ #[strong ЛЮБЫЕ #[br]ПОВЕРХНОСТИ]
			.surface__list.row
				.surface__item
					.surface__img
						img(src="" alt="")
					.surface__name МЕТАЛЛОКОНСТРУКЦИИ

				.surface__item
					.surface__img
						img(src="" alt="")
					.surface__name БЕТОН

				.surface__item
					.surface__img
						img(src="" alt="")
					.surface__name ОКРАШЕННЫЕ ПОВЕРХНОСТИ

				.surface__item
					.surface__img
						img(src="" alt="")
					.surface__name КИРПИЧ

				.surface__item
					.surface__img
						img(src="" alt="")
					.surface__name Газо- и пенобетон

				.surface__item
					.surface__img
						img(src="" alt="")
					.surface__name и другие поверхности


	.price
		.case
			.price__title.h1 СТОИМОСТЬ ОТ #[strong 300 р/м#[sup 2]]
			.price__subtitle.h3 Это минимальная цена без материалов при объеме от 200 м#[sup 2]
			.price__list.row
				mixin pItem(img, name, price, text)
					.price__item.p-item
						.p-item__head
							.p-item__img
								img(src=img alt="")
							.p-item__title ТАРИФ
							.p-item__name= name
						.p-item__body
							.p-item__text.t2= text
							.p-item__price.p
								.p__title СТОИМОСТЬ
								.p__value от #[var= price] РУБ/м#[sup 2]
								.p__tog материалы
						.p-item__foot.feedback
							.feedback__title Рассчитайте точную стоимость #[br]по телефону за 2 минуты
							.feedback__text Менеджер задаст уточняющие вопросы #[br]и сделает скидку в зависимости от объема
							.feedback__input.input.--icon.--phone.--required
								.input__wrap
									input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
								.input__icon
							button.feedback__btn.btn.--md.--bg-blue РАССЧИТАТЬ СТОИМОСТЬ
							.feedback__messengers.messengers
								.messengers__icon
									img(src="" alt="")
								.messengers__link #[a(href="") ИСПОЛЬЗОВАТЬ МЕССЕНДЖЕРЫ]
				+pItem('', 'МИНИМАЛЬНЫЙ', '300', '<h3>Что включено:</h3><ul><li>Грунтование</li><li>Выставление маяков</li><li>Оштукатуривание стен</li><li>Уборка мусора</li></ul>')
				+pItem('', 'СТАНДАРТ', '350', '<h3>Что включено:</h3><ul><li>Грунтование</li><li>Выставление маяков</li><li>Оштукатуривание стен</li><li>Затирка и глянцевание</li><li>Использование оцинкованных уголков</li><li>Уборка мусора</li></ul>')
				+pItem('', 'МАКСИМАЛЬНЫЙ', '390', '<h3>Что включено:</h3><ul><li>Грунтование</li><li>Выставление маяков</li><li>Оштукатуривание стен</li><li>Затирка и глянцевание под обои</li><li>Использование ПВХ уголков </li><li>и профиля примыкания</li><li>Уборка мусора</li><li>Ровные углы 90<sup>о</sup></li></ul>')
			.price__desc.h3 Включена доставка оборудования до 40 км


	.allinc
		.case
			.allinc__subtitle.h2 Вам не нужно будет ни за что доплачивать
			.allinc__title.h1 В МАКСИМАЛЬНОм ТАРИФЕ #[br]#[strong ВКЛЮЧЕНЫ ВСЕ работы] #[br]«под ключ»
			.allinc__list.row
				.allinc__item
					.allinc__name Грунтовка стен
					.allinc__value 01
				.allinc__item
					.allinc__name Монтаж сетки
					.allinc__value 02
				.allinc__item
					.allinc__name Установка уголков
					.allinc__value 03
				.allinc__item
					.allinc__name Уборка мусора
					.allinc__value 04
				.allinc__item
					.allinc__name Установка и демонтаж #[br]маяков
					.allinc__value 05
				.allinc__item
					.allinc__name Доставка материалов #[br]и оборудования
					.allinc__value 06
				.allinc__item
					.allinc__name Заглаживание, #[br]глянцевание
					.allinc__value 07
				.allinc__item
					.allinc__name Нанесение #[br]штукатурки
					.allinc__value 08
			.allinc__img
				img(src="" alt="")

	.calc
		.case
			.calc__block.b
				.calc__intro
					.calc__subtitle.h2 ответьте на 5 вопросов
					.calc__title.h1 #[strong и рассчитайте стоимость оштукатуривания за 2 минуты] 
					.calc__desc В 3-х вариантах: «Минимальный», «Под ключ», «Премиум»
					.calc__wrap
						.calc__status.status
							.status__item
						.calc__list
							.calc__item
								.calc__radios.row
									.calc__radio.rad-img.check
										input.rad-img__input(type="radio" name="" value="" checked="checked")
										.rad-img__wrap
											.rad-img__inner
												.rad-img__icon
												.rad-img__title СТЕНЫ
											.rad-img__img
												img(src="" alt="")
									.calc__radio.rad-img.check
										input.rad-img__input(type="radio" name="" value="")
										.rad-img__wrap
											.rad-img__inner
												.rad-img__icon
												.rad-img__title Откосы
											.rad-img__img
												img(src="" alt="")
									.calc__radio.rad-img.check
										input.rad-img__input(type="radio" name="" value="")
										.rad-img__wrap
											.rad-img__inner
												.rad-img__icon
												.rad-img__title фасады
											.rad-img__img
												img(src="" alt="")
									.calc__radio.rad-img.check
										input.rad-img__input(type="radio" name="" value="")
										.rad-img__wrap
											.rad-img__inner
												.rad-img__icon
												.rad-img__title потолки
											.rad-img__img
												img(src="" alt="")
							.calc__controls
								.calc__control.btn.--md.--bg-blue.--prev
									span ПРЕДЫДУЩИЙ ШАГ
								.calc__control.btn.--md.--bg-blue.--next
									span СЛЕДУЮЩИЙ ШАГ

				.calc__gifts.b-gifts
					.b-gifts__head
						.b-gifts__title до 17 февраля #[br]#[strong подарок на выбор]
						.b-gifts__subtitle после прохождения теста
					.b-gifts__list
						.b-gifts__item
							.b-gifts__name Вывоз мусора
							.b-gifts__img
								img(src="" alt="")
						.b-gifts__item
							.b-gifts__name 5 мешков штукатурки #[br]для заделывания штроб
							.b-gifts__img
								img(src="" alt="")
						.b-gifts__item
							.b-gifts__name Штукатурка откосов #[br]двух окон
							.b-gifts__img
								img(src="" alt="")
						.b-gifts__item
							.b-gifts__name Утепление #[br]одного окна
							.b-gifts__img
								img(src="" alt="")

	.oneday.bg-wrap
		.case
			.oneday__subtitle.h2 ЗА ОДИН ДЕНЬ
			.oneday__title.h1 оштукатурим от 70 до 100 м#[sup 2]
			.oneday__list.row
				.oneday__item
					.oneday__text #[strong В 3 раза быстрее,] #[br]чем если бы вы заказывали #[br]ручную штукатурку
					.oneday__icon
						img(src="" alt="")
				.oneday__item
					.oneday__text #[strong До 40% выгоднее] #[br]по сравнению с ручным #[br]способом за счет автоматики
					.oneday__icon
						img(src="" alt="")
				.oneday__item
					.oneday__text #[strong Стены не требуют шпаклевания] #[br]- после нашей работы #[br]поверхности гладкие и ровные
					.oneday__icon
						img(src="" alt="")
			.oneday__img
				img(src="" alt="")
			.oneday__round.round
				.round__wrap
					.round__img
						img(src="" alt="")
					.round__text
						На объекте работает #[br]#[strong команда от 3 до 8 человек] #[br]под контролем старшего #[br]бригадира

		.oneday__bg.bg
			img(src="" alt="")



	.fix
		.case
			.fix__wrap
				.fix__content
					.fix__subtitle.h2 Если штукатурка потрескается #[br]или произойдут другие проблемы,
					.fix__title.h1 мы исправим #[br]все #[strong за свой счет] 
					.fix__warranty
						.warranty__title По договору гарантируем:
						.warranty__list.row
							.warranty__item Гладкие стены под подраску
							.warranty__item Ровные углы 90#[sup °]
							.warranty__item Поверхности без дефектов и перепадов
							.warranty__item Стены без трещин
					.fix__img
						img(src="" alt="")
					.fix__count
						.fix__count-icon
							img(src="" alt="")
						.fix__count-value Выдаем #[br]гарантию #[br]3 года
			.fix__list.row
				.fix__item
					.fix__icon
						img(src="" alt="")
					.fix__name Соблюдаем СНиП и ГОСТ
					.fix__text При необходимости подготовим #[br]полный комплект исполнительной #[br]документации
				.fix__item
					.fix__icon
						img(src="" alt="")
					.fix__name Подписываем договор 
					.fix__text Мы прописали в договоре #[br]каждую мелочь, чтобы #[br]обезопасить вас #[br]#[a(href="") Посмотреть договор]
				.fix__item
					.fix__icon
						img(src="" alt="")
					.fix__name Берем аванс 30%
					.fix__text при заезде бригады на объект — #[br]остальная часть после приемки
				.fix__item
					.fix__icon
						img(src="" alt="")
					.fix__name Укладываемся в срок
					.fix__text или платим штраф 2500₽ #[br]за каждый день задержки


	.ready
		.case
			.ready__wrap
				.ready__img
					img(src="" alt="")
				.ready__content
					.ready__subtitle.h2 Готовы начать штукатурить?
					.ready__title.h1 #[strong Вызовите замерщика #[br]бесплатно] в удобное #[br]для вас время
					.ready__list.row
						.ready__item
							.ready__icon
								img(src="" alt="")
							.ready__text Вы получите #[strong точный расчет #[br]стоимости и план работ]
						.ready__item
							.ready__icon
								img(src="" alt="")
							.ready__text Гарантируем, что #[strong смета #[br]не изменится ни на 1 рубль]
						.ready__item.--full
							.ready__icon
								img(src="" alt="")
							.ready__text Специалист #[strong ответит на все вопросы] и подскажет, на какие #[br]нюансы необходимо обратить внимание в вашем случае
			.ready__form.form.--line
				.form__inner
					.form__title Заполните форму ниже, чтобы вызвать замерщика
					.form__wrap
						.form__input.input.--md.--bg-gray.--icon.--phone.--required
							.input__wrap
								input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
							.input__icon
						button.form__btn.btn.--md.--bg-blue РАССЧИТАТЬ СТОИМОСТЬ
					.form__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных #[br]данных и соглашаетесь с политикой конфиденциальности.

	.whatsapp
		.case
			.whatsapp__title.h1 НЕт ВРЕМЕНИ #[br]НА ЗВОНКИ?
			.whatsapp__img
				img(src="" alt="")
			.whatsapp__content
				.whatsapp__subtitle НАПИШИТЕ НАМ В #[img(src="" alt="")] whatsapp в один клик
				a.whatsapp__btn.btn.--md.--bg-green(href="") НАПИСАТЬ В WHATSAPP


	.de.bg-wrap
		.case
			.de__wrap.row
				.de__img-wrap
					.de__img
						img(src="" alt="")
					.de__round.round
						.round__wrap
							.round__img
								img(src="" alt="")
							.round__text
								p 13 штукатурных #[br]станций PFT Ritmo XL
								p Стоимость одной - #[br]700 000 руб.
				.de__content
					.de__title.h1 используем #[br]#[img(src="" alt="")] #[strong немецкое #[br]оборудование]
					.de__subtitle.h2 которое сэкономит ваш бюджет #[br]при чистовых работах
					.de__quality.quality
						.quality__icon
							img(src="" alt="")
						.quality__text
							.quality__title Трещин и отслаиваний не будет
							.quality__desc Гарантируем плотное сцепление с поверхностью #[br]за счет максимального давления в 30 бар
					.de__photos.row
						a.de__photo(href="javascript:;" data-fancybox="" data-src="")
							img(src="" alt="")
						a.de__photo(href="javascript:;" data-fancybox="" data-src="")
							img(src="" alt="")
		.de__img
			img(src="" alt="")


	.bg-wrap
		.economy
			.case
				.economy__title.h1 #[strong сэкономим вам #[br]до 30%] на материалах
				.economy__subtitle закупаем штукатурку напрямую с завода по оптовым #[br]ценам и #[strong храним на собственном складе]
				.economy__wrap.row
					.economy__item
						.economy__icon
							img(src="" alt="")
						.economy__text #[strong Подтверждаем сертификатами,] #[br]что мы напрямую с завода #[br]закупаем материалы
						.economy__logos.row
							.economy__logo
								img(src="" alt="")
							.economy__logo
								img(src="" alt="")
							.economy__logo
								img(src="" alt="")

					.economy__img
						img(src="" alt="")

					.economy__item
						.economy__icon
							img(src="" alt="")
						.economy__text #[strong Некоторые компании могут закупать #[br]подделку или хранить материал #[br]во влажном помещении] #[br] Стоимость таких работ «дешевле», #[br]но после отделки стен и потолков #[br]такая штукатурка потрескается #[br]и отойдет
						.economy__logos.row
							.economy__logo
								img(src="" alt="")
							.economy__logo
								img(src="" alt="")
							.economy__logo
								img(src="" alt="")
		.foreman
			.case
				.foreman__wrap.row
					.foreman__img-wrap
						.foreman__person.person
							.person__icon
								img(src="" alt="")
							.person__name Михаил #[br]Воронин
							.person__position Старший #[br]бригадир
						.foreman__img
							img(src="" alt="")
					.foreman__content
						.foreman__subtitle.h2 После старта работы за вами
						.foreman__title.h1 будет закреплен #[br]персональный #[br]бригадир,
						.foreman__desc #[strong Который будет на связи 24/7] во время работ
						.foreman__report.report
							.report__img
								img(src="" alt="")
							.report__text #[strong Ежедневно отчитывается #[br]в WhatsApp] о проделанных работах
						.foreman__quote
							.foreman__quote-icon
							.foreman__quote-text Я буду работать на объекте и принимать от вас пожелания #[br]до тех пор, пока вы не станете довольны результатом на 100%
						a.foreman__btn.btn.--md.--bg-blue(href="") РАССЧИТАТЬ СТОИМОСТЬ
		.bg
			img(src="" alt="")


	.objects
		.case
			.objects__title.h1 Оштукатурили #[br]больше #[strong 500 объектов]
			.objects__subtitle.h2 домов, квартир и коммерческих помещений
			.objects__list
				mixin object
					.objects__item.object
						.object__content
							.object__name Механизированная штукатурка стен, откосов в загородном доме 800 м2
							.object__data.obj-data
								.obj-data__item
									.obj-data__icon
									.obj-data__text
										.obj-data__title Площадь по полу: 
										.obj-data__value 1000 м#[sup 2]
								.obj-data__item
									.obj-data__icon
									.obj-data__text
										.obj-data__title Площадь по стенам: 
										.obj-data__value 4000 м#[sup 2]
								.obj-data__item
									.obj-data__icon
									.obj-data__text
										.obj-data__title СРОК: 
										.obj-data__value 4 дня
								.obj-data__item
									.obj-data__icon 
									.obj-data__text
										.obj-data__title Описание:
										.obj-data__value Выполнили работу в жилой квартире площадью 80 кв. м #[br]за 1 день. Заказчик остался доволен проделанной работой. #[br]Дополнительно залили полусухую стяжку.
							.object__btns.row
								a.object__btn.btn.--md.--bg-blue У МЕНЯ ПОХОЖАЯ ЗАДАЧА
								.object__more
									span Узнать подробнее
						.object__imgs.imgs
							.imgs__list
								.imgs__list-wrap
									.imgs__list-list
										.imgs__list-item
											img(src="" alt="")
										.imgs__list-item
											img(src="" alt="")
										.imgs__list-item
											img(src="" alt="")
										.imgs__list-item
											img(src="" alt="")

							.imgs__thumbs
								.imgs__thumbs-wrap
									.imgs__thumbs-list
										.imgs__thumbs-item
											img(src="" alt="")
										.imgs__thumbs-item
											img(src="" alt="")
										.imgs__thumbs-item
											img(src="" alt="")
										.imgs__thumbs-item
											img(src="" alt="")
				+object
				+object
				+object

			.objects__more.more
				.more__wrap
					.more__icon
					.more__text #[span Смотреть еще работы]

	.bg-wrap
		.estimate
			.case
				.estimate__content
					.estimate__subtitle.h2 Вы можете приехать и оценить качество
					.estimate__title.h1 механизированной #[br]штукатурки на любом #[br]из объектов, #[i где прямо сейчас #[br]ведутся работы]
				.estimate__img
					img(src="" alt="")
				.estimate__imgs
					.estimate__imgs-wrap
						.estimate__imgs-list
							.estimate__imgs-item
								.estimate__imgs-img
									img(src="" alt="")
								.estimate__imgs-address
									span г. москва, пр. обуховской обороны, д. 294
							.estimate__imgs-item
								.estimate__imgs-img
									img(src="" alt="")
								.estimate__imgs-address
									span г. москва, пр. обуховской обороны, д. 294
					.estimate__form.form
						.form__inner
							.form__title Заполните форму ниже #[br]и запишитесь на экскурсию
							.form__wrap
								.form__input.input.--md.--bg-gray.--icon.--phone.--required
									.input__wrap
										input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
									.input__icon
								button.form__btn.btn.--md.--bg-blue РАССЧИТАТЬ СТОИМОСТЬ
							.form__policy Нажимая на кнопку, вы даете согласие #[br]на обработку своих персональных данных #[br]и соглашаетесь с политикой конфиденциальности.

					.estimate__imgs-arrows
						.estimate__imgs-arrow.btn.arrow.--bg-white.--round.--prev
						.estimate__imgs-arrow.btn.arrow.--bg-white.--round.--next
		.gifts
			.case
				.gifts__title.h1 Дарим ценные #[strong подарки на 10 000 р.] #[br]при заключении договора на замере
				.gifts__list.row
					.gifts__item
						.gifts__img
							img(src="" alt="")
						.gifts__text Вывоз мусора
					.gifts__item
						.gifts__img
							img(src="" alt="")
						.gifts__text Уборка после работ
					.gifts__item
						.gifts__img
							img(src="" alt="")
						.gifts__text 5 мешков штукатурки #[br]для заделки штор
					.gifts__item
						.gifts__img
							img(src="" alt="")
						.gifts__text Штукатурка #[br]откосов 2 окон
					.gifts__item
						.gifts__img
							img(src="" alt="")
						.gifts__text Утепление 1 окна

				.gifts__why.gift-why.row
					.gift-why__img-wrap
						.gift-why__img
							img(src="" alt="")
						.gift-why__persona.person
							.person__icon
								img(src="" alt="")
							.person__name Михаил #[br]Воронин
							.person__position Старший #[br]бригадир
					.gift-why__content
						.gift-why__quote.quote
							h3 Почему мы делаем подарки?
							p Наша задача - приехать на замер, сделать точный расчет стоимости #[br]и заключить договор. Поэтому каждого клиента, который ценит свое #[br]и наше время и заключает договор при замере, мы поощряем #[br]ценными подарками.
						a.gift-why__btn.btn.--md.--bg-blue(href="") Вызвать замерщика
		.bg
			img(src="" alt="")


	.installment
		.case
			.installment__title.h1 Выдаем #[strong рассрочку] #[br]на 12 месяцев
			.installment__discount.bi
				.bi__icon
				.bi__text.h2 с первым взносом от 30%
			.installment__text
				ul
					li Первый взнос от 30%
					li Переплата 0%
					li До 12 месяцев
					li До 250 000 руб.
			.installment__form.--line
				.form__inner
					.form__title Узнайте подробные условия
					.form__wrap
						.form__input.input.--md.--bg-gray.--icon.--phone.--required
							.input__wrap
								input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
							.input__icon
						button.form__btn.btn.--md.--bg-blue Узнать условия рассрочки
					.form__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных #[br]данных и соглашаетесь с политикой конфиденциальности.

			.installment__imgs
				.installment__phone
					img(src="" alt="")
				.installment__paper
					img(src="" alt="")

	.reviews
		.case
			.reviews__title.h1 Отзывы о компании ПетроСтрой
			.reviews__subtitle.h2 #[strong Больше 100 отзывов] по механизированной штукатурке #[br]и отделке квартир можно найти в сети о компании ПетроСтрой
			.reviews__desc.h3 Мы собрали последние отзывы о нашей работе и ссылки на них.
			.reviews__wrap
				.reviews__list
					.reviews__list-wrap
						.reviews__item.review
							.review__wrap
								.review__video
								.review__quote.bi
									.bi__icon
									.bi__text «Цитата из видео важная, закрывающая боль или несколько болей»
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают... Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
						.reviews__item.review
							.review__wrap
								.review__video
								.review__quote.bi
									.bi__icon
									.bi__text «Цитата из видео важная, закрывающая боль или несколько болей»
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают... Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
						.reviews__item.review
							.review__wrap
								.review__video
								.review__quote.bi
									.bi__icon
									.bi__text «Цитата из видео важная, закрывающая боль или несколько болей»
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
					.reviews__arrows
						.reviews__arrow.btn.arrow.--bg-white.--round.--prev
						.reviews__arrow.btn.arrow.--bg-white.--round.--next

				.reviews__list
					.reviews__list-wrap
						.reviews__item.review
							.review__wrap
								.review__rating
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
								.review__person
									.review__person-img
										img(src="" alt="")
									.review__person-data
										.review__person-name Алексей Задорожный
										.review__person-location г. Москва

						.reviews__item.review
							.review__wrap
								.review__rating
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
								.review__person
									.review__person-img
										img(src="" alt="")
									.review__person-data
										.review__person-name Алексей Задорожный
										.review__person-location г. Москва

						.reviews__item.review
							.review__wrap
								.review__rating
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
								.review__person
									.review__person-img
										img(src="" alt="")
									.review__person-data
										.review__person-name Алексей Задорожный
										.review__person-location г. Москва
					.reviews__arrows
						.reviews__arrow.btn.arrow.--bg-white.--round.--prev
						.reviews__arrow.btn.arrow.--bg-white.--round.--next

				.reviews__list
					.reviews__list-wrap
						.reviews__item.review
							.review__wrap
								.review__rating
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
							.review__aggregator.aggr
								.aggr__logo
									img(src="" alt="")
								.aggr__data
									.aggr__title Отзыв оставлен на сайте yell.ru
									.aggr__value 1 год и 1 месяц назад
										
						.reviews__item.review
							.review__wrap
								.review__rating
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
							.review__aggregator.aggr
								.aggr__logo
									img(src="" alt="")
								.aggr__data
									.aggr__title Отзыв оставлен на сайте yell.ru
									.aggr__value 1 год и 1 месяц назад

						.reviews__item.review
							.review__wrap
								.review__rating
								.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
							.review__aggregator.aggr
								.aggr__logo
									img(src="" alt="")
								.aggr__data
									.aggr__title Отзыв оставлен на сайте yell.ru
									.aggr__value 1 год и 1 месяц назад
					.reviews__arrows
						.reviews__arrow.btn.arrow.--bg-white.--round.--prev.--mt
						.reviews__arrow.btn.arrow.--bg-white.--round.--next.--mt

			.reviews__more.btn-wrap
				a.reviews__more-btn.btn.--md.--b-gray(href="javascript:;") Смотреть подробнее

	.reputation
		.case
			.reputation__wrap.row
				.reputation__img-wrap
					.reputation__person.person
						.person__icon
							img(src="" alt="")
						.person__name ПЕТР #[br]НИКИТИН
						.person__position Руководитель #[br]компании
					.reputation__img
						img(src="" alt="")
				.reputation__content
					.reputation__title.h1 Дорожим своей #[br]репутацией и делаем #[br]каждый ремонт, #[br]как для себя
					.reputation__quote.bi
						.bi__icon
						.bi__text.h2 А я лично готов решить любые вопросы, #[br]которые возникли во время работы
					.reputation__btn-wrap
						a.reputation__btn.btn.--md.--bg-blue(href="") Связаться с руководителем напрямую
						.reputation__desc У вас объект большее 1000 м#[sup 2] #[br]для оштукатуривания? Свяжитесь #[br]напрямую с Петром

	.express
		.case
			.express__wrap
				.express__content
					.express__title.h1 Начать штукатурить #[br]нужно уже #[strong через #[br]несколько дней?]
					.express__subtitle.h2 У нас есть услуга «экспресс-выезд»
					.express__desc В услугу «экспресс выезд» входит:
					.express__list.row
						.express__item
							.express__item-icon
								img(src="" alt="")
							.express__item-text #[strong Выезд бригады] на объект #[br]в течение 24 часов
						.express__item
							.express__item-icon
								img(src="" alt="")
							.express__item-text #[strong Экспресс доставка] #[br]материалов и оборудования
					.express__form.form
						.form__img
							img(src="" alt="")
						.form__inner
							.form__title Заполните форму, чтоб узнать подробные #[br]условия об экспресс-выезде бригады
							.form__subtitle Я задам вам уточняющие вопросы и по телефону подготовлю #[br]персональные со скидкой в зависимости от объема
							.form__wrap
								.form__input.input.--md.--bg-gray.--icon.--phone.--required
									.input__wrap
										input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
									.input__icon
								button.form__btn.btn.--md.--bg-blue Узнать условия рассрочки
							.form__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных #[br]данных и соглашаетесь с политикой конфиденциальности.

				.express__img-wrap
					.express__img
						img(src="" alt="")
					.express__round.round
						.round__wrap
							.round__img
								img(src="" alt="")
							.round__text 42 быстрых выездов #[br]уже выполнено

	.start
		.case
			.start__wrap.row
				.start__imgs
					.start__scheme
						img(src="" alt="")
					.start__ruler
						img(src="" alt="")
				.start__content
					.start__desc Знаете точные размеры помещения #[br]или у вас типовая планировка квартиры?
					.start__title.h1 Начнём работу #[br]без замера #[br]#[strong со скидкой 5000 ₽]
					.start__subtitle.bi
						.bi__icon
						.bi__text.h2 Мы готовы сделать скидку в 5000 ₽ #[br]за экономию нашего времени
					.start__form.form.--no-bg
						.form__inner
							.form__wrap
								.form__input.input.--md.--bg-gray.--icon.--phone.--required
									.input__wrap
										input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
									.input__icon
								button.form__btn.btn.--md.--bg-blue Узнать условия рассрочки
							.form__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных #[br]данных и соглашаетесь с политикой конфиденциальности.


	.examples
		.case
			.examples__title.h1 стоимость механизированной #[br]штукатурки #[strong для типовых квартир]
			.examples__subtitle.h2 В стоимость включена: работа, доставка, материалы и откосы
			.examples__list.row
				.examples__item
					.examples__name 1-комнатная
					.examples__size до 40 м#[sup 2]
					.examples__img
						img(src="" alt="")
					.examples__price
						.examples__price-title Стоимость
						.examples__price-list.row
							.examples__price-item.--old 79 500 РУБ.
							.examples__price-item.--current 74 700 РУБ.
					a.examples__btn.btn.--md.--bg-blue(href="") СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ

				.examples__item
					.examples__name 2-комнатная
					.examples__size до 48 м#[sup 2]
					.examples__img
						img(src="" alt="")
					.examples__price
						.examples__price-title Стоимость
						.examples__price-list.row
							.examples__price-item.--old 92 500 РУБ.
							.examples__price-item.--current 87 700 РУБ.
					a.examples__btn.btn.--md.--bg-blue(href="") СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ

				.examples__item
					.examples__name 3-комнатная
					.examples__size до 60 м#[sup 2]
					.examples__img
						img(src="" alt="")
					.examples__price
						.examples__price-title Стоимость
						.examples__price-list.row
							.examples__price-item.--old 113 500 РУБ.
							.examples__price-item.--current 108 500 РУБ.
					a.examples__btn.btn.--md.--bg-blue(href="") СВЯЗАТЬСЯ С МЕНЕДЖЕРОМ


	.remotely
		.case
			.remotely__content
				.remotely__title.h1 Рассчитаем #[br]стоимость #[br]#[strong удаленно]
				.remotely__subtitle.h2 без посещения офиса #[br]и вызова замерщика
				.remotely__desc.bi
					.bi__icon
						img(src="" alt="")
					.bi__text и сэкономьте 5000 ₽
				.remotely__list
					.remotely__item
						.remotely__item-icon
							img(src="" alt="")
							span 01
						.remotely__item-text Подскажем по телефону, #[br]#[strong как правильно замерить #[br]помещение]

					.remotely__item
						.remotely__item-icon
							img(src="" alt="")
							span 02
						.remotely__item-text #[strong Зададим дополнительные вопросы #[br]по объекту:] например, из чего #[br]сделаны стены, как далеко объект?

					.remotely__item
						.remotely__item-icon
							img(src="" alt="")
							span 03
						.remotely__item-text #[strong Рассчитаем стоимость и вышлем #[br]полную смету] с работами #[br]и материалами, прикрепив #[br]график со сроками

					.remotely__item
						.remotely__item-icon
							img(src="" alt="")
							span 04
						.remotely__item-text Гарантируем, что стоимость #[br]#[strong не изменится ни на рубль]

			.remotely__img
				img(src="" alt="")

			.remotely__feedback
				.remotely__form.form
					.form__inner
						.form__title Рассчитайте стоимость #[br]штукатурки удаленно
						.form__subtitle Я задам уточняющие вопросы #[br]для расчёта стоимости и после #[br]разговора вышлю смету в WhatsApp
						.form__wrap
							.form__input.input.--md.--bg-gray.--icon.--phone.--required
								.input__wrap
									input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
								.input__icon
							button.form__btn.btn.--md.--bg-blue РАССЧИТАТЬ СТОИМОСТЬ
						.form__policy Нажимая на кнопку, вы даете согласие на обработку #[br]своих персональных данных и соглашаетесь #[br]с политикой конфиденциальности.

				.remotely__call.call
					.call__wrap
						.call__title Или позвоните по номеру
						.call__phone
							a(href="tel:+74951197437") +7 (495) 119-74-37
						.call__desc Мы сейчас работаем
					.call__icon
						img(src="" alt="")

	.steps
		.case
			.steps__title.h1 #[strong 5 этапов,] как мы будем делать #[br]механизированную штукатурку
			.steps__list
				.steps__item
					.steps__text
						p Оставьте заявку на сайте для расчета стоимости 
						p.--xs Или звоните по номеру #[img(src="" alt="")] #[a(href="tel:") +7 (495) 119-74-37]
					.steps__img
						img(src="" alt="")
					a.steps__btn.btn.--md.--bg-blue(href="") РАССЧИТАТЬ СТОИМОСТЬ
					.steps__count 01
				.steps__item
					.steps__text Замерщик бесплатно приедет на объект #[br]и рассчитает стоимость
					.steps__img
						img(src="" alt="")
					.steps__count 02
				.steps__item
					.steps__text Если вам все понравится - подпишем договор #[br]и зафиксируем 5 ценных подарков
					.steps__img
						img(src="" alt="")
					.steps__count 03
				.steps__item
					.steps__text Бригада заедет на объект, а вы внесете #[br]аванс 30%

					.steps__img
						img(src="" alt="")
					.steps__count 04
				.steps__item
					.steps__text Мы оштукатурим - вы примете работы #[br]и внесете остаток
					.steps__img
						img(src="" alt="")
					.steps__count 05

	.cheap.bg-wrap
		.case
			.cheap__img-wrap
				.cheap__person.person
					.person__icon
						img(src="" alt="")
					.person__name ПЕТР #[br]НИКИТИН
					.person__position Руководитель #[br]компании
				.cheap__img
					img(src="" alt="")
			.cheap__content
				.cheap__title.h1 Вы уже рассчитывали #[br]стоимость в других #[br]компаниях #[strong и ищете#[br]дешевле?]
				.cheap__subtitle.h2 Даем гарантию лучшей цены
				.cheap__why.c-why
					.c-why__title Если у вас уже есть расчет стоимости, мы снизим цену со скидкой до 5%
					.c-why__list
						.c-why__item
							.c-why__icon
							.c-why__name #[span Почему мы гарантируем самую низкую цену?]

				.cheap__form.form.--line
					.form__inner
						.form__title Пришлите расчет стоимости другой компании #[br]и получите более выгодное предложение
						.form__wrap
							.form__input.input.--md.--bg-gray.--icon.--phone.--required
								.input__wrap
									input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
								.input__icon
							button.form__btn.btn.--md.--bg-blue РАССЧИТАТЬ СТОИМОСТЬ
						.form__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных #[br]данных и соглашаетесь с политикой конфиденциальности.

		.cheap__bg.bg
			img(src="" alt="")


	.youtube
		.case
			.youtube__title.h1 Ведём #[img(src="" alt="")] YouTube канал #[br] по строительству с 2017 года
			.youtube__subtitle.h2 и знаем все подводные камни
			.youtube__desc На нашем канале уже 18600 подписчиков и 1 800 000 просмотров
			.youtube__list.row
				.youtube__item
					a.youtube__wrap(href="javascript:;" data-src="" data-fancybox="")
						img(src="" alt="")
					.youtube__data
						.youtube__name название видео
						a.youtube__link(href="") 
				.youtube__item
					a.youtube__wrap(href="javascript:;" data-src="" data-fancybox="")
						img(src="" alt="")
					.youtube__data
						.youtube__name название видео
						a.youtube__link(href="") 
				.youtube__item
					a.youtube__wrap(href="javascript:;" data-src="" data-fancybox="")
						img(src="" alt="")
					.youtube__data
						.youtube__name название видео
						a.youtube__link(href="") 

	.do.bg-wrap
		.case
			.do__title.h1 Делаем #[strong полусухую #[br]стяжку пола]
			.do__list.row
				.do__item От 300 руб/м#[sup 2] без материала
				.do__itemОт 450 руб/м#[sup 2] с материалом
			.do__form.form.--line
				.form__inner
					.form__title Рассчитайте точную стоимость по телефону за 2 минуты
					.form__subtitle Менеджер задаст уточняющие вопросы и сделаем скидку в зависимости от объема
					.form__wrap
						.form__input.input.--md.--bg-gray.--icon.--phone.--required
							.input__wrap
								input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
							.input__icon
						button.form__btn.btn.--md.--bg-blue РАССЧИТАТЬ СТОИМОСТЬ
					.form__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных #[br]данных и соглашаетесь с политикой конфиденциальности.

			.do__img
				img(src="" alt="")
			.do__round.round
				.round__wrap
					.round__img
						img(src="" alt="")
					.round__text Скидка до 10% на стяжку #[br]при заказе штукатурки
		.do__bg.bg
			img(src="" alt="")


	.pay
		.pay__inner
			.case
				.pay__wrap
					.pay__img
						img(src="" alt="")
					.pay__content
						.pay__methods.row
							.pay__method
								img(src="" alt="")
							.pay__method
								img(src="" alt="")
						.pay__title Мы принимаем #[br]оплату любой картой - вы #[br]получаете cashback 10%
						.pay__text
							p Перед началом работ заключаем договор.
							p Все платежи проходят официально
						a.pay__btn.btn.--md.--bg-blue(href="") Подробнее о договоре и оплате

	.cooperate
		.case
			.cooperate__title.h1 #[strong Сотрудничаем] со строительными #[br]компаниями и бригадами
			.cooperate__wrap
				.cooperate__content
					.cooperate__text
						p Мы готовы заключить договор, #[br]по которому будем делать для вас #[br]штукатурку и стяжку пола #[br]по минимальной цене #[br]при определенном объеме #[br]за квартал
					a.cooperate__btn.btn.--md.--bg-blue(href="") Обсудить сотрудничество
				.cooperate__img
					img(src="" alt="")
				.cooperate__logos
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")
					.cooperate__logo
						img(src="" alt="")

				.cooperate__desc На объектах этих #[br]застройщиков мы #[br]уже сотрудничали #[br]со строительными #[br]бригадами


	.instructions
		.case
			.instructions__wrap.row
				.instructions__content
					.instructions__title.h1 Получите #[br]инструкцию
					.instructions__subtitle.h2 #[strong «Как не потерять до 80 000 рублей] #[br]при выборе случайной бригады #[br]по механизированной штукатурке»
					.instructions__text
						h3 Из инструкции вы узнаете:
						ul
							li На чем можно сэкономить?
							li На чем лучше не экономить?
							li Какие 5 вопросов задать рабочим, чтобы проверить #[br]надежность и профессионализм
				.instructions__send.sendх 
					.send__wrap
						.send__title Куда отправить инструкцию:
						.send__list
							a.send__item.btn.--md.--whatsapp(href="" target="_blank") 
								span Whatsapp
							a.send__item.btn.--md.--viber(href="" target="_blank") 
								span viber
							a.send__item.btn.--md.--telegram(href="" target="_blank") 
								span telegram
					.send__img
						img(src="" alt="")
		.instructions__book-wrap
			.instructions__book
				img(src="" alt="")
			.instructions__doc
				img(src="" alt="")

	.save
		.case
			.save__wrap.row
				.save__img-wrap
					.save__img
						img(src="" alt="")
				.save__content
					.save__title.h1 Сохраняйте наш #[br]сайт в закладки,
					.save__subtitle.bi
						.bi__icon
							img(src="" alt="")
						.bi__text.h2 чтобы не пропустить #[br]еженедельные акции
					.save__copy.copy
						.copy__title Скопируйте адрес сайта и сохраните его
						.copy__wrap
							.copy__icon
								img(src="" alt="")
							.copy__text Добавьте сайт в закладки: #[br]нажмите Ctrl+D

	.office
		.case
			.office__title.h1 приглашаем в офис
			.office__wrap
				.office__slider
					.office__list
						.office__item
							img(src="" alt="")
						.office__item
							img(src="" alt="")
						.office__item
							img(src="" alt="")
				.office__arrows
					.office__arrow.btn.arrow.--bg-white.--round.--prev
					.office__arrow.btn.arrow.--bg-white.--round.--next

	.map#map


	.contacts
		.contacts__inner
			.case
				.contacts__wrap
					.contacts__content
						.contacts__title.h2 Наши контакты
						.contacts__data
							.contacts__data-col
								.contacts__phone.phone #[a(href="tel:+74951197437") +7 (495) 119-74-37]
								.contacts__time.time Ежедневно 07:00–22:00
								.contacts__consult.b-consult
									.b-consult__icon
									.b-consult__link #[a(href="") Консультация в WhatsApp]
							.contacts__data-col
								.contacts__contact.contact
									.contact__head
										.contact__icon
										.contact__title ОФИС
									.contact__value ул. Инструментальная, д.3 

								.contacts__contact.contact
									.contact__head
										.contact__icon
										.contact__title e-mail
									.contact__value #[a(href="mailto:shukashtuka@io.ru") shukashtuka@io.ru]
					.contacts__img
						img(src="" alt="")
					.contacts__feedback
						.contacts__title.h2 приедем к вам на замер
						.contacts__btn.btn.--md.--bg-blue(href="") ВЫЗВАТЬ СПЕЦИАЛИСТА

	.order.bg-wrap
		.case
			.order__img-wrap
				.order__person.person
					.person__icon
						img(src="" alt="")
					.person__name ПЕТР #[br]НИКИТИН
					.person__position Руководитель #[br]компании
				.order__img
					img(src="" alt="")
			.order__content
				.order__title.h1 готовы начать #[br]штукатурить?
				.order__subtitle.h2 заполните форму ниже #[br]для точного расчета стоимости
				.order__text.t2
					h3 Я перезвоню и расскажу:
					ul
						li Стоимость работ в вашем случае
						li Необходимые условия
						li Очередность работ
						li Соориентирую по срокам
				.order__form.form.--line
					.form__inner
						.form__wrap
							.form__input.input.--md.--bg-gray.--icon.--phone.--required
								.input__wrap
									input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
								.input__icon
							button.form__btn.btn.--md.--bg-blue РАССЧИТАТЬ СТОИМОСТЬ
						.form__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных #[br]данных и соглашаетесь с политикой конфиденциальности.


				.order__call.call
					.call__wrap
						.call__title Или позвоните по номеру
						.call__phone
							a(href="tel:+74951197437") +7 (495) 119-74-37
						.call__desc Мы сейчас работаем
					.call__icon
						img(src="" alt="")
		.order__img
			img(src="" alt="")