extends ../../templates/default
block vars
	-
		title = "Отзывы"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	- classReviews = '--page'
	include ../../parts/reviews

	- classQuestions = '--pt'
	include ../../parts/questions