include ../sys/pug/vars

.about.bg-wrap.first-slide
	.case
		+breadcrumbs('about__breadcrumbs')
		.about__title.h1 О компании ПетроСтрой
		.about__list.row
			.about__item
				.about__icon
					img(src="_/uploads/about-1.png" alt="")
				.about__name 5 лет
				.about__text работы в сфере строительства #[br]домов, фундаментов #[br]и черновых работах
			.about__item
				.about__icon
					img(src="_/uploads/about-2.png" alt="")
				.about__name 45 специалистов
				.about__text работают у нас #[br]на постоянной основе
			.about__item
				.about__icon
					img(src="_/uploads/about-3.png" alt="")
				.about__name 10+ поставщиков
				.about__text строительных материалов, #[br]у которых мы получаем для вас #[br]оптовую скидку и экономим до 30%
			.about__item
				.about__icon
					img(src="_/uploads/about-4.png" alt="")
				.about__name 500+ объектов
				.about__text мы сделали: начиная от студия 20 м#[sup 2] #[br]заканчивая коттеджами 2000 м#[sup 2] #[br]и коммерческими комещениями
	.about__img
		img(src="_/uploads/about-img.png" alt="")
	.about__bg.bg
		img(src="_/uploads/about-bg.png" alt="")