.advantages
	.case
		.advantages__wrap.b
			.advantages__list
				.advantages__item
					.advantages__icon
						img(src="" alt="")
					.advantages__subtitle.h4 Сэкономим вам до 30% #[br]на материалах
					.advantages__text Покупаем по оптовым ценам штукатурку #[br]напрямую с завода и храним на своём складе

				.advantages__item
					.advantages__icon
						img(src="" alt="")
					.advantages__subtitle.h4 Соблюдаем #[br]СНиП и ГОСТ
					.advantages__text При необходимости подготовим полный #[br]комплект исполнительной документации

				.advantages__item
					.advantages__icon
						img(src="" alt="")
					.advantages__subtitle.h4 Выходим на объект #[br]в день заказа
					.advantages__text Бригады заезжают на объект #[br]в день подписания договора

				.advantages__item
					.advantages__icon
						img(src="" alt="")
					.advantages__subtitle.h4 Штукатурим любые #[br]поверхности
					.advantages__text Стены, потолки, откосы, фасады, #[br]а также делаем полусухую стяжку пола

				.advantages__item
					.advantages__icon
						img(src="" alt="")
					.advantages__subtitle.h4 Гарантия #[br]3 года
					.advantages__text Если со штукатуркой будут проблемы, #[br]исправим их за свой счет

				.advantages__item
					.advantages__icon
						img(src="" alt="")
					.advantages__subtitle.h4 Поэтапная #[br]оплата
					.advantages__text При заезде рабочих на объект вносите #[br]предоплату 30% по договору. Остальную #[br]часть после завершения всех работ