.advantages
	.case
		.advantages__wrap.b
			.advantages__list.row
				.advantages__item
					.advantages__icon
						img(src="_/uploads/advantages-1.png" alt="")
					.advantages__subtitle.h5 Сэкономим вам до 30% #[br]на материалах
					.advantages__text Покупаем по оптовым ценам штукатурку #[br]напрямую с завода и храним на своём складе

				.advantages__item
					.advantages__icon
						img(src="_/uploads/advantages-2.png" alt="")
					.advantages__subtitle.h5 Соблюдаем #[br]СНиП и ГОСТ
					.advantages__text При необходимости подготовим полный #[br]комплект исполнительной документации

				.advantages__item
					.advantages__icon
						img(src="_/uploads/advantages-3.png" alt="")
					.advantages__subtitle.h5 Выходим на объект #[br]в день заказа
					.advantages__text Бригады заезжают на объект #[br]в день подписания договора

				.advantages__item
					.advantages__icon
						img(src="_/uploads/advantages-4.png" alt="")
					.advantages__subtitle.h5 Штукатурим любые #[br]поверхности
					.advantages__text Стены, потолки, откосы, фасады, #[br]а также делаем полусухую стяжку пола

				.advantages__item
					.advantages__icon
						img(src="_/uploads/advantages-5.png" alt="")
					.advantages__subtitle.h5 Гарантия #[br]3 года
					.advantages__text Если со штукатуркой будут проблемы, #[br]исправим их за свой счет

				.advantages__item
					.advantages__icon
						img(src="_/uploads/advantages-6.png" alt="")
					.advantages__subtitle.h5 Поэтапная #[br]оплата
					.advantages__text При заезде рабочих на объект вносите #[br]предоплату 30% по договору. Остальную #[br]часть после завершения всех работ