.best-price.bg
	.case
		.best-price__person.person
			.person__icon
				img(src="" alt="")
			.person__name ПЕТР #[br]НИКИТИН
			.person__position Руководитель #[br]компании
		.best-price__img
			img(src="" alt="")
		.best-price__content
			.best-price__title.h1 Даем гарантию #[strong лучшей цены]
			.best-price__subtitle.bi
				.bi__icon
					img(src="" alt="")
				.bi__text.h2 Если найдете дешевле, мы #[br]снизим цену до -10%
			.best-price__quote.quote
				h3 Почему мы гарантируем самую низкую цену
				p Мы закупаем материал напрямую с завода без дилерских наценок, #[br]что дает экономию до 30%. Не перепродаем заявки, а сами реализуем #[br]работу — все специалисты в штате, а штукатурные станции #[br]и автомобили в собственности у компании.
			.best-price__foot
				a.best-price__btn.btn.--md.--bg-blue(href="") РАССЧИТАТЬ СТОИМОСТЬ
				.best-price__btn-desc В феврале делаем максимальную скидку #[br]и доставляем материалы за свой счет

	.best-price__img
		img(src="" alt="")