.calc
	.case
		.calc__block.b
			.calc__intro
				.calc__subtitle.h2 ответьте на 5 вопросов
				.calc__title.h1 #[strong и рассчитайте стоимость оштукатуривания за 2 минуты] 
				.calc__desc В 3-х вариантах: «Минимальный», «Под ключ», «Премиум»
				.calc__wrap
					.calc__status.status
						.status__item
					.calc__list
						.calc__item
							.calc__radios.row
								.calc__radio.rad-img.check
									input.rad-img__input(type="radio" name="" value="" checked="checked")
									.rad-img__wrap
										.rad-img__inner
											.rad-img__icon
											.rad-img__title СТЕНЫ
										.rad-img__img
											img(src="" alt="")
								.calc__radio.rad-img.check
									input.rad-img__input(type="radio" name="" value="")
									.rad-img__wrap
										.rad-img__inner
											.rad-img__icon
											.rad-img__title Откосы
										.rad-img__img
											img(src="" alt="")
								.calc__radio.rad-img.check
									input.rad-img__input(type="radio" name="" value="")
									.rad-img__wrap
										.rad-img__inner
											.rad-img__icon
											.rad-img__title фасады
										.rad-img__img
											img(src="" alt="")
								.calc__radio.rad-img.check
									input.rad-img__input(type="radio" name="" value="")
									.rad-img__wrap
										.rad-img__inner
											.rad-img__icon
											.rad-img__title потолки
										.rad-img__img
											img(src="" alt="")
						.calc__controls
							.calc__control.btn.--md.--bg-blue.--prev
								span ПРЕДЫДУЩИЙ ШАГ
							.calc__control.btn.--md.--bg-blue.--next
								span СЛЕДУЮЩИЙ ШАГ

			.calc__gifts.b-gifts
				.b-gifts__head
					.b-gifts__title до 17 февраля #[br]#[strong подарок на выбор]
					.b-gifts__subtitle после прохождения теста
				.b-gifts__list
					.b-gifts__item
						.b-gifts__name Вывоз мусора
						.b-gifts__img
							img(src="" alt="")
					.b-gifts__item
						.b-gifts__name 5 мешков штукатурки #[br]для заделывания штроб
						.b-gifts__img
							img(src="" alt="")
					.b-gifts__item
						.b-gifts__name Штукатурка откосов #[br]двух окон
						.b-gifts__img
							img(src="" alt="")
					.b-gifts__item
						.b-gifts__name Утепление #[br]одного окна
						.b-gifts__img
							img(src="" alt="")