.contacts
	.contacts__inner
		.case
			.contacts__wrap
				.contacts__content
					.contacts__title.h2 Наши контакты
					.contacts__data
						.contacts__data-col
							.contacts__phone.phone #[a(href="tel:+74951197437") +7 (495) 119-74-37]
							.contacts__time.time Ежедневно 07:00–22:00
							.contacts__consult.b-consult
								.b-consult__icon
								.b-consult__link #[a(href="") Консультация в WhatsApp]
						.contacts__data-col
							.contacts__contact.contact
								.contact__head
									.contact__icon
									.contact__title ОФИС
								.contact__value ул. Инструментальная, д.3 

							.contacts__contact.contact
								.contact__head
									.contact__icon
									.contact__title e-mail
								.contact__value #[a(href="mailto:shukashtuka@io.ru") shukashtuka@io.ru]
				.contacts__img
					img(src="" alt="")
				.contacts__feedback
					.contacts__title.h2 приедем к вам на замер
					.contacts__btn.btn.--md.--bg-blue(href="") ВЫЗВАТЬ СПЕЦИАЛИСТА