.cooperate
	.case
		.cooperate__title.h1 #[strong Сотрудничаем] со строительными #[br]компаниями и бригадами
		.cooperate__wrap
			.cooperate__content
				.cooperate__text
					p Мы готовы заключить договор, #[br]по которому будем делать для вас #[br]штукатурку и стяжку пола #[br]по минимальной цене #[br]при определенном объеме #[br]за квартал
				a.cooperate__btn.btn.--md.--bg-blue(href="") Обсудить сотрудничество
			.cooperate__img
				img(src="" alt="")
			.cooperate__logos
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")
				.cooperate__logo
					img(src="" alt="")

			.cooperate__desc На объектах этих #[br]застройщиков мы #[br]уже сотрудничали #[br]со строительными #[br]бригадами
