.express
	.case
		.express__wrap
			.express__content
				.express__title.h1 Начать штукатурить #[br]нужно уже #[strong через #[br]несколько дней?]
				.express__subtitle.h2 У нас есть услуга «экспресс-выезд»
				.express__desc В услугу «экспресс выезд» входит:
				.express__list.row
					.express__item
						.express__item-icon
							img(src="" alt="")
						.express__item-text #[strong Выезд бригады] на объект #[br]в течение 24 часов
					.express__item
						.express__item-icon
							img(src="" alt="")
						.express__item-text #[strong Экспресс доставка] #[br]материалов и оборудования
				.express__form.form
					.form__img
						img(src="" alt="")
					.form__inner
						.form__title Заполните форму, чтоб узнать подробные #[br]условия об экспресс-выезде бригады
						.form__subtitle Я задам вам уточняющие вопросы и по телефону подготовлю #[br]персональные со скидкой в зависимости от объема
						.form__wrap
							.form__input.input.--md.--bg-gray.--icon.--phone.--required
								.input__wrap
									input.input__area(type="number" name="phone" placeholder="+7 ( ___ ) ___ - __ - __")
								.input__icon
							button.form__btn.btn.--md.--bg-blue Узнать условия рассрочки
						.form__policy Нажимая на кнопку, вы даете согласие на обработку своих персональных #[br]данных и соглашаетесь с политикой конфиденциальности.

			.express__img-wrap
				.express__img
					img(src="" alt="")
				.express__round.round
					.round__wrap
						.round__img
							img(src="" alt="")
						.round__text 42 быстрых выездов #[br]уже выполнено
