.gifts
	.case
		.gifts__title.h1 Дарим ценные #[strong подарки на 10 000 р.] #[br]при заключении договора на замере
		.gifts__list.row
			.gifts__item
				.gifts__img
					img(src="" alt="")
				.gifts__text Вывоз мусора
			.gifts__item
				.gifts__img
					img(src="" alt="")
				.gifts__text Уборка после работ
			.gifts__item
				.gifts__img
					img(src="" alt="")
				.gifts__text 5 мешков штукатурки #[br]для заделки штор
			.gifts__item
				.gifts__img
					img(src="" alt="")
				.gifts__text Штукатурка #[br]откосов 2 окон
			.gifts__item
				.gifts__img
					img(src="" alt="")
				.gifts__text Утепление 1 окна

		.gifts__why.gift-why.row
			.gift-why__img-wrap
				.gift-why__img
					img(src="" alt="")
				.gift-why__persona.person
					.person__icon
						img(src="" alt="")
					.person__name Михаил #[br]Воронин
					.person__position Старший #[br]бригадир
			.gift-why__content
				.gift-why__quote.quote
					h3 Почему мы делаем подарки?
					p Наша задача - приехать на замер, сделать точный расчет стоимости #[br]и заключить договор. Поэтому каждого клиента, который ценит свое #[br]и наше время и заключает договор при замере, мы поощряем #[br]ценными подарками.
				a.gift-why__btn.btn.--md.--bg-blue(href="") Вызвать замерщика