.instructions
	.case
		.instructions__wrap.row
			.instructions__content
				.instructions__title.h1 Получите #[br]инструкцию
				.instructions__subtitle.h2 #[strong «Как не потерять до 80 000 рублей] #[br]при выборе случайной бригады #[br]по механизированной штукатурке»
				.instructions__text
					h3 Из инструкции вы узнаете:
					ul
						li На чем можно сэкономить?
						li На чем лучше не экономить?
						li Какие 5 вопросов задать рабочим, чтобы проверить #[br]надежность и профессионализм
			.instructions__send.sendх 
				.send__wrap
					.send__title Куда отправить инструкцию:
					.send__list
						a.send__item.btn.--md.--whatsapp(href="" target="_blank") 
							span Whatsapp
						a.send__item.btn.--md.--viber(href="" target="_blank") 
							span viber
						a.send__item.btn.--md.--telegram(href="" target="_blank") 
							span telegram
				.send__img
					img(src="" alt="")
	.instructions__book-wrap
		.instructions__book
			img(src="" alt="")
		.instructions__doc
			img(src="" alt="")
