.intro.bg-wrap
	.case
		.intro__content
			.intro__title.h1 Механизированная #[br]#[strong штукатурка] #[u от 300 р/м#[sup 2]]
			.intro__subtitle.h2 в Москве и МО с гарантией лучшей цены
			.intro__materials.b-materials
				.b-materials__img
					img(src="" alt="")
				.b-materials__text
					p Закупаем материал напрямую с завода без дилерских #[br]наценок, что #[strong дает экономию до 30%.] Не перепродаем #[br]заявки, а сами реализуем работу — #[strong все специалисты #[br]в штате, а техника в собственности у компании.]
			a.intro__btn.btn.--md.--bg-blue() РАССЧИТАТЬ СТОИМОСТЬ
		.intro__count.round
			.round__wrap
				.round__img
					img(src="" alt="")
				.round__text Оштукатурили 1500+ #[br]домов с 2018 года

		.intro__img
			img(src="" alt="")

	.intro__bg.bg
		img(src="" alt="")