.objects
	.case
		.objects__title.h1 Оштукатурили #[br]больше #[strong 500 объектов]
		.objects__subtitle.h2 домов, квартир и коммерческих помещений
		.objects__list
			mixin object
				.objects__item.object
					.object__content
						.object__name Механизированная штукатурка стен, откосов в загородном доме 800 м2
						.object__data.obj-data
							.obj-data__item
								.obj-data__icon
								.obj-data__text
									.obj-data__title Площадь по полу: 
									.obj-data__value 1000 м#[sup 2]
							.obj-data__item
								.obj-data__icon
								.obj-data__text
									.obj-data__title Площадь по стенам: 
									.obj-data__value 4000 м#[sup 2]
							.obj-data__item
								.obj-data__icon
								.obj-data__text
									.obj-data__title СРОК: 
									.obj-data__value 4 дня
							.obj-data__item
								.obj-data__icon 
								.obj-data__text
									.obj-data__title Описание:
									.obj-data__value Выполнили работу в жилой квартире площадью 80 кв. м #[br]за 1 день. Заказчик остался доволен проделанной работой. #[br]Дополнительно залили полусухую стяжку.
						.object__btns.row
							a.object__btn.btn.--md.--bg-blue У МЕНЯ ПОХОЖАЯ ЗАДАЧА
							.object__more
								span Узнать подробнее
					.object__imgs.imgs
						.imgs__list
							.imgs__list-wrap
								.imgs__list-list
									.imgs__list-item
										img(src="" alt="")
									.imgs__list-item
										img(src="" alt="")
									.imgs__list-item
										img(src="" alt="")
									.imgs__list-item
										img(src="" alt="")

						.imgs__thumbs
							.imgs__thumbs-wrap
								.imgs__thumbs-list
									.imgs__thumbs-item
										img(src="" alt="")
									.imgs__thumbs-item
										img(src="" alt="")
									.imgs__thumbs-item
										img(src="" alt="")
									.imgs__thumbs-item
										img(src="" alt="")
			+object
			+object
			+object

		.objects__more.more
			.more__wrap
				.more__icon
				.more__text #[span Смотреть еще работы]
