.office
	.case
		.office__title.h1 приглашаем в офис
		.office__wrap
			.office__slider
				.office__list
					.office__item
						img(src="" alt="")
					.office__item
						img(src="" alt="")
					.office__item
						img(src="" alt="")
			.office__arrows
				.office__arrow.btn.arrow.--bg-white.--round.--prev
				.office__arrow.btn.arrow.--bg-white.--round.--next