.oneday.bg-wrap
	.case
		.oneday__subtitle.h2 ЗА ОДИН ДЕНЬ
		.oneday__title.h1 оштукатурим от 70 до 100 м#[sup 2]
		.oneday__list.row
			.oneday__item
				.oneday__text #[strong В 3 раза быстрее,] #[br]чем если бы вы заказывали #[br]ручную штукатурку
				.oneday__icon
					img(src="_/uploads/oneday-1.png" alt="")
			.oneday__item
				.oneday__text #[strong До 40% выгоднее] #[br]по сравнению с ручным #[br]способом за счет автоматики
				.oneday__icon
					img(src="_/uploads/oneday-2.png" alt="")
			.oneday__item
				.oneday__text #[strong Стены не требуют шпаклевания] #[br]- после нашей работы #[br]поверхности гладкие и ровные
				.oneday__icon
					img(src="_/uploads/oneday-3.png" alt="")
		.oneday__img
			img(src="_/uploads/oneday-img.png" alt="")
		.oneday__round.round
			.round__wrap
				.round__img
					img(src="_/uploads/group.png" alt="")
				.round__text.--md На объекте работает #[br]#[strong команда от 3 до 8 человек] #[br]под контролем старшего #[br]бригадира

	.oneday__bg.bg
		img(src="_/uploads/oneday-bg.png" alt="")