.reputation
	.case
		.reputation__wrap.row
			.reputation__img-wrap
				.reputation__person.person
					.person__icon
						img(src="" alt="")
					.person__name ПЕТР #[br]НИКИТИН
					.person__position Руководитель #[br]компании
				.reputation__img
					img(src="" alt="")
			.reputation__content
				.reputation__title.h1 Дорожим своей #[br]репутацией и делаем #[br]каждый ремонт, #[br]как для себя
				.reputation__quote.bi
					.bi__icon
					.bi__text.h2 А я лично готов решить любые вопросы, #[br]которые возникли во время работы
				.reputation__btn-wrap
					a.reputation__btn.btn.--md.--bg-blue(href="") Связаться с руководителем напрямую
					.reputation__desc У вас объект большее 1000 м#[sup 2] #[br]для оштукатуривания? Свяжитесь #[br]напрямую с Петром
