.reviews
	.case
		.reviews__title.h1 Отзывы о компании ПетроСтрой
		.reviews__subtitle.h2 #[strong Больше 100 отзывов] по механизированной штукатурке #[br]и отделке квартир можно найти в сети о компании ПетроСтрой
		.reviews__desc.h3 Мы собрали последние отзывы о нашей работе и ссылки на них.
		.reviews__wrap
			.reviews__list
				.reviews__list-wrap
					.reviews__item.review
						.review__wrap
							.review__video
							.review__quote.bi
								.bi__icon
								.bi__text «Цитата из видео важная, закрывающая боль или несколько болей»
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают... Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
					.reviews__item.review
						.review__wrap
							.review__video
							.review__quote.bi
								.bi__icon
								.bi__text «Цитата из видео важная, закрывающая боль или несколько болей»
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают... Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
					.reviews__item.review
						.review__wrap
							.review__video
							.review__quote.bi
								.bi__icon
								.bi__text «Цитата из видео важная, закрывающая боль или несколько болей»
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
				.reviews__arrows
					.reviews__arrow.btn.arrow.--bg-white.--round.--prev
					.reviews__arrow.btn.arrow.--bg-white.--round.--next

			.reviews__list
				.reviews__list-wrap
					.reviews__item.review
						.review__wrap
							.review__rating
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
							.review__person
								.review__person-img
									img(src="" alt="")
								.review__person-data
									.review__person-name Алексей Задорожный
									.review__person-location г. Москва

					.reviews__item.review
						.review__wrap
							.review__rating
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
							.review__person
								.review__person-img
									img(src="" alt="")
								.review__person-data
									.review__person-name Алексей Задорожный
									.review__person-location г. Москва

					.reviews__item.review
						.review__wrap
							.review__rating
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
							.review__person
								.review__person-img
									img(src="" alt="")
								.review__person-data
									.review__person-name Алексей Задорожный
									.review__person-location г. Москва
				.reviews__arrows
					.reviews__arrow.btn.arrow.--bg-white.--round.--prev
					.reviews__arrow.btn.arrow.--bg-white.--round.--next

			.reviews__list
				.reviews__list-wrap
					.reviews__item.review
						.review__wrap
							.review__rating
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
						.review__aggregator.aggr
							.aggr__logo
								img(src="" alt="")
							.aggr__data
								.aggr__title Отзыв оставлен на сайте yell.ru
								.aggr__value 1 год и 1 месяц назад
									
					.reviews__item.review
						.review__wrap
							.review__rating
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
						.review__aggregator.aggr
							.aggr__logo
								img(src="" alt="")
							.aggr__data
								.aggr__title Отзыв оставлен на сайте yell.ru
								.aggr__value 1 год и 1 месяц назад

					.reviews__item.review
						.review__wrap
							.review__rating
							.review__text Вот вам яркий пример современных тенденций - #[br]глубокий уровень погружения не оставляет шанса #[br]для модели развития. Сложно сказать, почему некоторые #[br]особенности внутренней политики набирают...
						.review__aggregator.aggr
							.aggr__logo
								img(src="" alt="")
							.aggr__data
								.aggr__title Отзыв оставлен на сайте yell.ru
								.aggr__value 1 год и 1 месяц назад
				.reviews__arrows
					.reviews__arrow.btn.arrow.--bg-white.--round.--prev.--mt
					.reviews__arrow.btn.arrow.--bg-white.--round.--next.--mt

		.reviews__more.btn-wrap
			a.reviews__more-btn.btn.--md.--b-gray(href="javascript:;") Смотреть подробнее