.save
	.case
		.save__wrap.row
			.save__img-wrap
				.save__img
					img(src="" alt="")
			.save__content
				.save__title.h1 Сохраняйте наш #[br]сайт в закладки,
				.save__subtitle.bi
					.bi__icon
						img(src="" alt="")
					.bi__text.h2 чтобы не пропустить #[br]еженедельные акции
				.save__copy.copy
					.copy__title Скопируйте адрес сайта и сохраните его
					.copy__wrap
						.copy__icon
							img(src="" alt="")
						.copy__text Добавьте сайт в закладки: #[br]нажмите Ctrl+D