.surface
	.case
		.surface__title.h1 ШТУКАТУРИМ #[strong ЛЮБЫЕ #[br]ПОВЕРХНОСТИ]
		.surface__list.row
			.surface__item
				.surface__img
					img(src="" alt="")
				.surface__name МЕТАЛЛОКОНСТРУКЦИИ

			.surface__item
				.surface__img
					img(src="" alt="")
				.surface__name БЕТОН

			.surface__item
				.surface__img
					img(src="" alt="")
				.surface__name ОКРАШЕННЫЕ ПОВЕРХНОСТИ

			.surface__item
				.surface__img
					img(src="" alt="")
				.surface__name КИРПИЧ

			.surface__item
				.surface__img
					img(src="" alt="")
				.surface__name Газо- и пенобетон

			.surface__item
				.surface__img
					img(src="" alt="")
				.surface__name и другие поверхности