.surface
	.case
		.surface__title.h1 ШТУКАТУРИМ #[strong ЛЮБЫЕ #[br]ПОВЕРХНОСТИ]
		.surface__list.row
			.surface__item
				.surface__img
					img(src="_/uploads/surface-1.png" alt="")
				.surface__name МЕТАЛЛОКОНСТРУКЦИИ

			.surface__item
				.surface__img
					img(src="_/uploads/surface-2.png" alt="")
				.surface__name БЕТОН

			.surface__item
				.surface__img
					img(src="_/uploads/surface-3.png" alt="")
				.surface__name ОКРАШЕННЫЕ ПОВЕРХНОСТИ

			.surface__item
				.surface__img
					img(src="_/uploads/surface-4.png" alt="")
				.surface__name КИРПИЧ

			.surface__item
				.surface__img
					img(src="_/uploads/surface-5.png" alt="")
				.surface__name Газо- и пенобетон

			.surface__item
				.surface__img
					img(src="_/uploads/surface-6.png" alt="")
				.surface__name и другие поверхности