.team
	.case
		.team__title.h1 Над вашим объектом будет #[br]работать целая команда
		.team__list.row
			.team__item
				.team__name ПЕТР НИКИТИН
				.team__position Руководитель #[br]компании
				.team__img
					img(src="_/uploads/team-1.png" alt="")
				a.team__btn.btn.--md.--bg-blue(href="javascript:;" data-fancybox="" data-src="#modal-callback-messengers") КОНСУЛЬТАЦИЯ

			.team__item
				.team__name ПЕТР НИКИТИН
				.team__position Руководитель #[br]компании
				.team__img
					img(src="_/uploads/team-2.png" alt="")
				a.team__btn.btn.--md.--bg-blue(href="javascript:;" data-fancybox="" data-src="#modal-callback-messengers") КОНСУЛЬТАЦИЯ

			.team__item
				.team__name ПЕТР НИКИТИН
				.team__position Руководитель #[br]компании
				.team__img
					img(src="_/uploads/team-3.png" alt="")
				a.team__btn.btn.--md.--bg-blue(href="javascript:;" data-fancybox="" data-src="#modal-callback-messengers") КОНСУЛЬТАЦИЯ

			.team__item
				.team__name ПЕТР НИКИТИН
				.team__position Руководитель #[br]компании
				.team__img
					img(src="_/uploads/team-4.png" alt="")
				a.team__btn.btn.--md.--bg-blue(href="javascript:;" data-fancybox="" data-src="#modal-callback-messengers") КОНСУЛЬТАЦИЯ