.whatsapp
	.case
		.whatsapp__title.h1 НЕт ВРЕМЕНИ #[br]НА ЗВОНКИ?
		.whatsapp__img
			img(src="" alt="")
		.whatsapp__content
			.whatsapp__subtitle НАПИШИТЕ НАМ В #[img(src="" alt="")] whatsapp в один клик
			a.whatsapp__btn.btn.--md.--bg-green(href="") НАПИСАТЬ В WHATSAPP