.youtube
	.case
		.youtube__title.h1 Ведём #[img(src="" alt="")] YouTube канал #[br] по строительству с 2017 года
		.youtube__subtitle.h2 и знаем все подводные камни
		.youtube__desc На нашем канале уже 18600 подписчиков и 1 800 000 просмотров
		.youtube__list.row
			.youtube__item
				a.youtube__wrap(href="javascript:;" data-src="" data-fancybox="")
					img(src="" alt="")
				.youtube__data
					.youtube__name название видео
					a.youtube__link(href="") 
			.youtube__item
				a.youtube__wrap(href="javascript:;" data-src="" data-fancybox="")
					img(src="" alt="")
				.youtube__data
					.youtube__name название видео
					a.youtube__link(href="") 
			.youtube__item
				a.youtube__wrap(href="javascript:;" data-src="" data-fancybox="")
					img(src="" alt="")
				.youtube__data
					.youtube__name название видео
					a.youtube__link(href="") 
