extends ../../templates/default
block vars
	-
		title = "Контакты"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	include ../../parts/about
	include ../../parts/team

	- classFix = '--pb'
	include ../../parts/fix
	include ../../parts/de
	include ../../parts/economy
	include ../../parts/reviews

	- classYoutube = '--no-bg'
	include ../../parts/youtube
	include ../../parts/questions