include ../../sys/pug/vars

header.header
	.case
		.header__panel.panel
			a.panel__logo(href="index.html")
				img(src="" alt="")
			.panel__nav
				ul
					li
						a(href="index.html") ГЛАВНАЯ
					li
						a(href="portfolio.html") НАШИ РАБОТЫ
					li
						a(href="reviews.html") ОТЗЫВЫ
					li
						a(href="about-us.html") О КОМПАНИИ
					li
						a(href="article.html") СТАТЬИ
					li
						a(href="partnership.html") СТРОИТЕЛЬНЫМ КОМПАНИЯМ
					li
						a(href="job.html") ВАКАНСИИ
					li
						a(href="contacts.html") КОНТАКТЫ
		.header__inner
			.header__ya.ya
				.ya__head.row
					.ya__icon
						img(src="" alt="")
					.ya__title Рейтинг #[strong Яндекс 4,8]
				.ya__desc на основе 550 отзывов
			.header__quote ‘‘Сделали дешевле всех. #[br]Качество на высоте...“
			.header__address.contact
				.contact__head
					.contact__icon
					.contact__title ОФИС
				.contact__value ул. Инструментальная, д.3 
			.header__links.links
				ul
					li
						a(href="") Вызвать замерщика
					li
						a(href="") Калькулятор стоимости

			.header__contacts
				.header__phone.phone #[a(href="tel:+74951197437") +7 (495) 119-74-37]
				.header__time.time Ежедневно 07:00–22:00
			a.header__btn.btn.--sm.--bg-white(href="javascript:;" data-fancybox="#modal-callback") Заказать звонок
