extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.page
		.case
			+breadcrumbs('page__breadcrumbs')
			.page__text.t1
				h1 Политика конфиденциальности 
				p В соответствии с требованиями статьи 9 федерального закона от 27.07.06 г. «О персональных данных» № 152-ФЗ, подтверждаю свое #[br]согласие на обработку уполномоченными сотрудниками ООО «ФИРМА», ОГРН 1127747186111; 123112 , РФ, г.Москва, Шербинка #[br]ул. Южная д.10 (далее — «Оператор») моих персональных данных с целью:
				ul
					li оказания услуг;
					li учета и хранения для персональной идентификации пользователя.
				p При заходе на сайты site.ru (далее – «Сайты»), в том числе при указании своих персональных данные в контактных формах и формах #[br]обратной связи в веб-сервисах «Задать вопрос», «Заказать звонок», «Получить бесплатную консультацию», «Рассчитать стоимость #[br]и срок изготовления изделия», «Аналогичная задача», «Вызвать замерщика» и других формах для захвата контактных данных #[br]Оператора, #[br]предоставляю Оператору право осуществлять все действия (операции) с моими персональными данными, включая сбор, запись, #[br]систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу #[br](распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, включающих:
				ul
					li фамилию, имя, отчество, пол, дату рождения;
					li адрес регистрации и/или фактического проживания, контактный телефон (абонентский номер), адрес электронной почты, данные документа, #[br]удостоверяющего личность;
					li источник захода на Сайты, в том числе данные об IP-адресе, местоположении, и информация поискового или рекламного запроса;
					li данные о пользовательском устройстве (среди которых разрешение, версия и другие атрибуты, характеризующие пользовательское устройство);
					li пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры баннеров и видео;
					li данные, характеризующие аудиторные сегменты;
					li параметры сессии;
					li данные о времени посещения;
					li идентификатор пользователя, хранимый в cookie, для целей повышения осведомленности посетителей Сайтов о продуктах и услугах Оператора, #[br]предоставления релевантной рекламной информации и оптимизации рекламы.
				p Оператор вправе обрабатывать мои персональные данные с использование средств автоматизации и(или) без таковых, посредством внесения их в электронную базу #[br]данных, включения в списки (реестры) и отчетные формы.

				p Предоставляю право Оператору передавать мои персональные данные должностным лицам Оператора и третьим лицам, уполномоченным осуществлять #[br]обработку электронных баз данных Оператора при обязательном соблюдении условий о конфиденциальности обрабатываемых данных.
				p Я оставляю за собой право отозвать свое согласие посредством составления соответствующего письменного документа, который может быть направлен мной 
				p в адрес Оператора по почте заказным письмом с уведомлением о вручении или на электронный адрес почты Оператора #[a(href="mailto:ads@polovinkin.pro") ads@polovinkin.pro]
				p В случае получения моего заявления об отзыве настоящего согласия на обработку персональных данных, Оператор обязан прекратить их обработку.
				p Настоящее согласие вступает в силу с момента моего перехода на Сайты и действует бессрочно.