@media only screen and (max-height: 750px)
	.fancybox-slide
		padding: 30px
	.modal
		&__close
			width: 46px
			height: 46px
			top: -23px
			right: -23px
			svg
				width: 14px

@media only screen and (max-width: 1500px)
	.cooperate
		&__desc
			right: -15px


@media only screen and (max-width: 1390px)
	.estimate
		&__imgs
			padding-left: 80px
			padding-right: 80px
			&-arrow
				&.--prev
					left: 0
				&.--next
					right: 0
		&__form
			right: 120px
					

			

@media only screen and (max-width: 1230px)
	.h1
		font-size: 40px
		line-height: 54px

	.case
		max-width: 960px

	.header
		&__quote
			display: none
		&__links
			margin-left: 40px
	.panel
		&__nav
			padding-left: 25px
			padding-right: 25px

	.first-slide
		padding-top: 188px

	.intro
		padding-bottom: 0
		&__content
			padding-top: 40px
		&__img
			width: 644px
			left: 420px
			bottom: -210px
		&__round
			top: 0

	.b-materials
		max-width: 540px
		&__text
			padding: 25px 100px 25px 0
			br
				display: none

	.advantages
		&__item
			padding: 30px
		&__text
			br
				display: none

	.best-price
		padding-top: 150px
		&__person
			&:before
				display: none
		&__img
			left: 0
		&__content
			max-width: 560px
		&__quote
			padding: 25px
			br
				display: none


	.surface
		padding-top: 75px
		&__item
			padding: 30px

	.price
		padding-top: 130px
		&__desc
			margin-top: 25px


	.p-item
		&__body
			padding-left: 25px
			padding-top: 25px
			margin-bottom: 25px
		&__price
			padding-left: 25px
			margin-bottom: 25px
		&__foot
			padding: 25px
			br
				display: none

	.allinc
		&__title
			margin-bottom: 35px
		&__item
			padding: 20px
		&__name
			padding-left: 0
			padding-right: 30px
		&__img
			width: 430px
			right: 0

	.calc
		&__inner
			padding: 50px
			width: 100%
		&__gifts
			display: none

	.oneday
		.case
			padding-bottom: 550px
		&__title
			margin-bottom: 35px
		&__item
			padding-left: 20px
		&__img
			width: 960px


	.fix
		&.--pb
			padding-bottom: 60px
		&__content
			padding-top: 70px
		&__img
			z-index: -1
			width: 600px
			right: -70px
			top: 65px
		&__item
			padding: 30px 20px
		&__icon
			margin-bottom: 18px
		&__name
			min-height: 48px
		&__text
			br
				display: none

	.warranty
		&__item
			background-color: #fff


	.ready
		&.--bg
			padding-bottom: 40px
		&__content
			max-width: 560px
		&__title
			font-size: 38px
			line-height: 52px
			br
				display: none
		&__icon
			// min-width: 80px
		&__text
			br
				display: none
		&__form
			margin-top: 40px
			.form
				&__inner
					max-width: 500px
					padding-right: 30px
				&__title
					line-height: 23px
				&__img
					width: 460px

	.whatsapp
		&__title
			max-width: 330px
		&__img
			width: 180px
		&__content
			max-width: 300px
		&__subtitle
			&:after
				display: none

	.de
		padding-top: 80px
		&__img-wrap
			width: calc(100% - 450px)
			
		&__content
			max-width: 450px
			margin-left: auto
		&__title
			margin-bottom: 15px
		&__subtitle
			margin-bottom: 30px
		&__quality
			padding: 30px
			br
				display: none
		&__photos
			margin-top: 45px
		&__photo
			height: 150px
			&:after
				width: calc(100% + 12px)
				background-size: 100% auto
		&__bg
			object-position: center bottom
			
	.quality
		&__text
			padding-left: 30px
		&__title
			max-width: 240px

	.economy
		min-height: 665px
		padding-top: 90px
		&__subtitle
			margin-bottom: 70px
		&__item
			width: 280px
			padding-left: 15px
			padding-right: 15px
			padding-bottom: 30px
		&__img
			width: 370px
		&__text
			br
				display: none

	.foreman
		&__person
			top: 90px

		&__img-wrap
			width: calc(100% - 490px)
			
		&__wrap
			min-height: 740px
		&__content
			max-width: 450px
		&__quote
			padding: 20px
			br
				display: none


	.objects
		padding-top: 80px
		padding-bottom: 80px
		&__subtitle
			margin-bottom: 45px

	.object
		padding: 30px
		align-items: flex-start
		&:nth-of-type(odd)
			.object
				&__content
					padding-left: 0
		&:nth-of-type(even)
			.object
				&__content
					padding-left: 30px
		&__content
			padding: 0 20px 0 0
			width: calc(100% - 420px)
		&__imgs
			width: 420px
		&__btns
			margin-top: 20px
		&__more
			display: none
		&__data
			br
				display: none
	
	.estimate
		&__img
			width: 300px
		&__imgs
			padding-left: 34px
			padding-right: 34px
			&-address
				left: 30px
				bottom: 55px
				right: 550px

	.gift-why
		&__img-wrap
			width: 450px
		&__content
			width: 440px
			margin-left: auto
			br
				display: none

	.installment
		padding-top: 80px
		padding-bottom: 80px
		&__phone
			width: 600px
		&__paper
			width: 800px
			top: -18px
			right: -256px


	.reviews
		padding-top: 80px
		padding-bottom: 80px
		&.--page
			padding-top: 188px
		&__list
			margin-bottom: 10px
		&__arrow
			&.--mt
				margin-top: -30px
				

	.review
		padding: 10px
		&__wrap
			padding: 18px
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08)
		&__quote
			margin-top: 14px
			margin-bottom: 14px
			.bi
				&__text
					font-size: 13px
					line-height: 20px
					padding-left: 10px
		&__text
			br
				display: none

		&__person
			margin-top: 20px
			padding-top: 20px

		&__aggregator
			margin-top: 20px


	.reputation
		&__img-wrap		
			width: 460px
		&__content
			max-width: 480px
			br
				display: none
		&__desc
			margin-left: 0
			margin-right: 0
			&:before
				display: none
	
	.express
		padding-bottom: 60px
		&__list
			padding-left: 0
			flex-direction: column

		&__item
			width: 100%
			margin-bottom: 20px
			&:last-of-type
				margin-bottom: 0
			&-icon
				display: flex
				align-items: center
				justify-content: center
				width: 105px
			&-text
				margin-left: 0 !important

	.start
		&__ruler
			margin-left: -170px
		&__scheme
			margin-left: -200px
			

	.examples
		padding-bottom: 60px
		&__subtitle
			margin-bottom: 30px
		&__item
			padding: 25px 15px
		&__btn
			max-width: 250px

	.remotely
		&__img
			display: none
			
	.steps
		padding-top: 70px
		padding-bottom: 50px
		&__text
			margin-left: 0px
		&__img
			left: 440px

	.cheap
		padding-top: 50px
		&__img-wrap
			max-width: 460px
		&__content
			margin-left: auto
			max-width: 430px
		&__title
			font-size: 30px
			line-height: 46px
			br
				display: none
		&__form
			margin-top: 35px
			&.--line
				.form
					&__title
						br
							display: none
					&__input
						width: 100%
						margin-bottom: 20px
					&__btn
						width: 100%
					&__policy
						br
							display: none

	.youtube
		padding-top: 70px
		padding-bottom: 70px
		&__title
			img
				width: 44px
				margin-left: 5px
				margin-right: 5px
		&__desc
			margin-bottom: 40px

		&__data
			padding: 22px 0

		&__name
			font-size: 14px


	.do
		&__list
			// align-items: flex-start
			flex-direction: column
			max-width: 330px
		&__item
			text-align: center

		&__img
			right: 170px

	.pay
		&__wrap
			padding: 45px
		&__img
			width: 340px
		&__content
			width: calc(100% - 340px)
			padding-left: 40px
			padding-top: 0
		&__title
			br
				display: none

	.cooperate
		&__wrap
			padding: 35px
		&__content
			padding-top: 0
			
		&__logo
			z-index: 2
			position: relative
			background-color: #fff

		&__desc
			font-size: 11px
			line-height: 15px
			right: -8px
			top: -5px
			max-width: 115px
			&:before
				width: 70px
				background-size: 100% auto

	.instructions
		padding-top: 65px
		&__wrap
			align-items: flex-start
		&__content
			max-width: 460px
			br
				display: none
		&__send
			margin-top: 0
			max-width: 450px


	.send
		padding: 35px
		&__img
			width: 190px
			right: 0

	.save
		padding-top: 80px
		padding-bottom: 80px
		&__img-wrap
			left: -420px
		&__content
			max-width: 470px

	.office
		padding-top: 70px
		&__title
			margin-bottom: 40px
		&__item
			height: 390px

	.contacts
		&__wrap
			padding: 40px
		&__data
			width: 490px
		&__img
			display: none

		&__btn
			margin-top: 0

	.order
		&__img-wrap
			width: 390px
		&__content
			padding-top: 0
			max-width: 400px
			br
				display: none
		&__text
			margin-bottom: 20px
			ul
				margin-bottom: -5px
				&:before
					top: 5px
			li
				line-height: 20px
				margin-bottom: 5px
		&__form
			&.--line
				.form
					&__input
						margin-bottom: 20px
					&__input, &__btn
						width: 100%
					&__policy
						br
							display: none

	.data
		&__list
			margin-left: -10px
			margin-right: -10px
			margin-bottom: -20px
		&__item
			margin-left: 10px
			margin-right: 10px
			margin-bottom: 20px
		&__value
			br
				display: none
			

	.works
		&__item
			padding: 20px
		&__img
			height: 280px
			margin-bottom: 20px
		&__data
			width: calc(100% - 50px)
		&__icon
			min-width: 50px
			width: 50px
			height: 50px

	.pagination
		&__list
			width: calc(100% - 120px)
		&__item, &__prev, &__next
			width: 60px
			height: 60px
		&.--block
			.pagination
				&__item, &__prev, &__next
					width: 60px
					height: 60px
			
	.questions
		&__img-wrap
			width: 480px
		&__img
			width: 480px
			margin-left: -70px
		&__person
			top: 55px
		&__content
			max-width: 490px
			margin-left: -40px
			br
				display: none
		&__form
			margin-top: 30px
			padding-top: 30px
			padding-right: 30px
			padding-bottom: 30px

	.about
		padding-bottom: 450px
		&__title
			margin-bottom: 70px
		&__item
			br
				display: none
		&__img
			width: 1000px

	.team
		padding-top: 70px
		padding-bottom: 70px
		&__item
			padding: 30px 20px
			min-height: 470px

	.articles
		padding-bottom: 60px
		&__section
			width: 570px
		&__item
			height: 380px
			padding: 30px
			margin-bottom: 30px
		&__aside
			padding-left: 30px
			width: calc(100% - 570px)

	.article
		padding-bottom: 40px
		&__img
			height: 500px
	.t1
		h1
			font-size: 40px
			line-height: 54px

	.more
		padding-top: 30px
		&__title
			font-size: 30px
			margin-bottom: 30px
		&__item
			padding: 20px
			&:hover
				box-shadow: 0 0 30px 15px rgba(0,0,0,.05)
		&__head
			margin-bottom: 15px
		&__icon
			display: none

	.jobs
		padding-bottom: 40px
		&__text
			br
				display: none
		&__form
			margin-top: 40px

	.parking
		margin-right: 0
		width: 200px
		&__text
			br
				display: none
	.footer
		&__top
			padding-top: 35px
			padding-bottom: 35px
		&__company
			width: 100%
			margin-right: 20px
			&:after
				display: none
		&__contacts
			margin-right: 15px

		&__mid
			padding-top: 35px
			padding-bottom: 35px

		&__navs
			width: 540px

		&__nav
			margin-right: 35px
			max-width: 200px

		&__bot
			padding-bottom: 35px


@media only screen and (max-width: 992px)
	.case
		max-width: 750px

	.h1
		font-size: 36px
		line-height: 44px
	.h2
		font-size: 18px
		line-height: 30px

	.panel
		&__nav
			padding: 10px 25px
			ul
				margin-left: -15px
				margin-right: -15px
				justify-content: center
			li
				margin-left: 15px
				margin-right: 15px
	.header
		&__ya
			display: none
		&__address
			margin-left: 0
		&__links
			margin-left: 30px
			
			
	.intro
		height: 885px
		&__round
			display: none
		&__title
			strong
				font-size: 40px
			u
				font-size: 14px
				padding: 10px 15px
				top: -3px
		&__img
			left: 370px
			width: 550px

	.b-materials
		&__img
			width: 115px
		&__text
			line-height: 22px
			padding: 20px 120px 20px 0

	.advantages
		&__item
			width: 50%

	.best-price
		padding-top: 100px
		&__person
			top: -10px
		&__img
			width: 400px
			bottom: 0
		&__content
			padding-bottom: 40px
			max-width: 450px
		&__subtitle
			margin-bottom: 25px
			// .bi
			// 	&__icon
			// 		display: none
			// 	&__text
			// 		padding-left: 0
		&__quote
			margin-bottom: 30px
		&__btn-desc
			margin-left: 50px
			margin-right: 0
			top: 10px

	.surface
		padding-top: 50px
		&__title
			margin-bottom: 20px
		&__item
			width: 50%

	.price
		padding-top: 70px
		&__subtitle
			margin-bottom: 70px
		&__list
			margin-left: -5px
			margin-right: -5px
		&__item
			width: calc(100% / 3 - 10px)
			margin-left: 5px
			margin-right: 5px

	.p-item
		&__head
			padding-bottom: 20px
		&__body
			padding: 15px 15px 0
		&__foot
			padding: 15px

	.feedback
		&__title
			font-size: 12px
			line-height: 17px
		&__input
			margin-bottom: 10px
		&__messengers
			margin-top: 15px

	.messengers
		&__link
			font-size: 10px

	.allinc
		padding-top: 70px
		.case
			padding-bottom: 50px
		&__list
			margin-left: -10px
			margin-right: -10px
			margin-bottom: -20px
		&__item
			width: calc(100% / 3 - 20px)
			margin-left: 10px
			margin-right: 10px
			margin-bottom: 20px
			min-height: 80px
		&__img
			display: none
		&__name
			font-size: 14px
			line-height: 20px

	.calc
		&__inner
			padding: 30px

	.oneday
		&__list
			justify-content: center
			margin-left: -5px
			margin-right: -5px
			margin-bottom: -10px
		&__item
			width: calc(100% / 2 - 10px)
			margin-left: 5px
			margin-right: 5px
			margin-bottom: 10px

	.fix
		&.--pb
			padding-bottom: 40px
		&__img
			right: 10px
			width: 380px
			top: 145px
		&__list
			&:before
				z-index: 1
				position: absolute
				content: ''
				height: 1px
				bottom: 0
				left: 0
				right: 0
				background-color: #fff
		&__item
			width: 50%
			border-bottom: 1px solid #eee

	.ready
		&__content
			padding-top: 75px
			max-width: 100%
		&__title
			max-width: 540px
		&__form
			.form
				&__img
					display: none
				&__inner
					padding: 50px
					max-width: 100%

	.whatsapp
		&__wrap
			align-items: center
		&__title
			font-size: 28px
			line-height: 38px
			max-width: 240px
			margin-top: 0
		&__img
			width: 160px
			margin-left: 34px
		&__content
			max-width: 256px
			padding-top: 0
		&__btn
			min-width: 1px
			margin-top: 10px

	.round
		width: 224px
		height: 224px
		&:before
			width: 208px
			height: 208px
		&__text
			&.--md
				font-size: 11px
				line-height: 20px
					
	.de
		padding-top: 40px
		&__img-wrap
			order: 2
			width: 100%
			max-width: 350px
			margin-top: 35px
			margin-left: auto
			margin-right: auto
		&__img
			width: 274px
		&__round
			z-index: 5
		&__content
			width: 100%
			max-width: 560px
			margin-left: auto
			margin-right: auto
			padding-top: 0
		&__title
			margin-bottom: 10px
		&__subtitle
			margin-bottom: 15px
		&__photos
			margin-top: 20px
		&__photo
			margin-bottom: 30px

	.economy
		padding-top: 60px
		padding-bottom: 280px
		min-height: 1px
		&__item
			width: 50%
			top: 100%
		&__img
			width: 300px
			top: 100%
			margin-top: -20px
			transform: translateX(-50%)

	.foreman
		padding-top: 60px
		&__img-wrap
			width: 100%
			max-width: 295px
			max-height: 360px
			margin-top: 15px
			order: 2
			left: 10px
			margin-left: auto
			margin-right: auto
		&__person
			top: 10px
			left: 0
			&:before
				display: none
			
		&__content
			max-width: 100%
			padding-bottom: 0

	.objects
		padding-top: 70px
		padding-bottom: 50px
		&__item
			margin-bottom: 30px
			&:last-of-type
				// margin-bottom: 0
	.object
		&__content
			order: 2  !important
			width: 100%
			padding-left: 0 !important
			padding-right: 0 !important
		&__imgs
			width: 100%
			order: 1  !important
			margin-bottom: 20px

	.estimate
		&__imgs
			&-case
				position: relative
			&-item
				height: 400px
			&-address
				left: 25px
				bottom: 25px
				right: 25px
			&-arrow
				&.--prev
					left: -35px
				&.--next
					right: -35px
					
		&__img
			width: 260px
			top: -120px
			right: 0
		&__form
			position: relative
			top: 0
			right: 0
			margin-top: 30px
			transform: none
			max-width: 100%

	.gifts
		padding-top: 70px
		&__title
			max-width: 500px
			margin-left: auto
			margin-right: auto
		&__list
			justify-content: center
			margin-left: -5px
			margin-right: -5px
			margin-bottom: -20px
		&__item
			width: calc(100% / 3 - 10px)
			margin-left: 5px
			margin-right: 5px
			margin-bottom: 20px
		&__img
			margin-bottom: 5px

	.gift-why
		&__img-wrap
			width: 350px
		&__img
			margin-left: 0
		&__person
			top: 20px
			&:before
				display: none
		&__content
			width: 345px
			padding-top: 60px
		&__btn
			margin-top: 30px
			
	.quote
		padding: 25px
		br
			display: none

	.installment
		padding-top: 60px
		padding-bottom: 60px
		&__phone
			display: none
			
	.reviews
		padding-top: 55px
		padding-bottom: 55px
		&__subtitle
			max-width: 500px
			margin-left: auto
			margin-right: auto
		&__wrap
			margin-top: 20px

	.reputation
		&__img-wrap
			width: 350px
		&__img
			margin-left: 15px
		&__person
			top: 30px
			&:before
				display: none
		&__content
			width: calc(100% - 350px)
			max-width: 100%
			margin-left: 0
			padding-left: 25px
		&__title
			font-size: 32px
			line-height: 40px
		&__quote
			margin-top: 10px
			margin-bottom: 20px
			&.--sm
				.bi
					&__icon
						display: none
					&__text
						width: 100%
						padding-left: 0
		&__btn
			width: 100%
			&.btn
				padding-left: 10px
				padding-right: 10px
		&__desc
			display: none

	.express
		&__img
			width: 450px
			top: 75px
			right: -16px
		&__form
			.form
				&__img
					display: none
				&__inner
					padding: 35px
				&__title, &__subtitle, &__policy
					br
						// display: none
				&__subtitle
					margin-bottom: 15px

	.start
		padding-top: 70px
		padding-bottom: 70px
		&__content
			max-width: 100%
		&__form
			margin-top: 25px
		&__imgs
			display: none
		&__scheme
			width: 900px

	.examples
		&__title, &__subtitle
			max-width: 560px
			margin-left: auto
			margin-right: auto
		&__list
			margin: 0 -5px -20px
		&__item
			width: calc(100% / 3 - 10px)
			margin-left: 5px
			margin-right: 5px
			margin-bottom: 20px
		&__price
			margin-top: 20px
			margin-bottom: 10px
			&-list
				flex-direction: column

	.remotely
		padding-top: 60px
		padding-bottom: 60px
		&__content
			max-width: 300px
		&__item
			&-text
				padding-left: 20px
				br
					display: none
		&__feedback
			padding-top: 0

	.steps
		&__title
			margin-bottom: 42px
		&__item
			height: 140px
		&__img
			width: 120px
			display: flex
			left: 0
			height: 100px
			overflow: hidden
			justify-content: flex-start
			img
				max-width: none  !important
				max-height: none  !important
		&__text
			max-width: 100%
			padding-left: 145px
			padding-right: 100px
			p
				&.--xs
					margin-top: 0
		&__btn
			display: none
			
	.cheap
		padding-bottom: 40px
		&__img-wrap
			width: 350px
			margin-bottom: -40px
		&__person
			top: 55px
		&__img
			width: auto
		&__content
			max-width: 360px
		&__title
			font-size: 30px
			line-height: 40px
		&__form
			z-index: 2
			position: relative
			margin-left: -360px
			padding: 35px

	.do
		min-height: 1px
		&__content
			max-width: 100%
		&__title
			max-width: 400px
		&__img
			width: 320px
			right: 140px
		&__list
			max-width: 270px
		&__item
			font-size: 15px
			padding: 10px 15px
		&__form
			padding: 35px
			width: 100%

	.pay
		margin-top: 40px
		&__wrap
			flex-direction: column
			align-items: center
		&__img
			margin-bottom: 12px
		&__content
			width: 100%
			padding-left: 0
		&__title
			max-width: 460px

	.cooperate
		padding-bottom: 550px
		&__title
			margin-bottom: 40px
		&__text
			font-size: 16px
			line-height: 27px
		&__desc
			display: none
		&__img
			margin-bottom: -500px
		
	.instructions
		padding-top: 45px
		&__content
			max-width: 100%
		&__send
			max-width: 500px
			margin-left: auto
			margin-right: auto
			margin-top: 40px

	.office
		padding-top: 50px

	.map
		height: 580px
		&.--mt
			margin-top: 30px
			
	.contacts
		&__content
			width: 100%
		&__feedback
			margin-left: 0
			margin-top: 25px
		&__data
			width: 100%
		&__req
			width: 50%
			max-width: 100%
		&__req, &__parking
			margin-top: 20px

	.order
		padding-top: 230px
		&__person
			top: 45px
			left: 210px
			&:before
				display: none
		&__img-wrap
			width: 300px
		&__img
			margin-left: -50px
		&__content
			margin-right: 0
		&__call
			display: none

	.work
		padding-bottom: 0
		&__content
			width: 100%
			margin-bottom: 40px
		&__gifts
			width: 100%
	.w-sli
		&__list
			margin-bottom: 20px
			&-item
				height: 420px
		&__thumbs
			&-item
				height: 100px
		&__arrow
			&.--prev
				left: 30px
			&.--next
				right: 30px

	
	.questions
		padding-bottom: 35px
		&__img-wrap
			width: 360px
			position: absolute
			top: 240px
			left: 50%
			margin-left: -20px
			transform: translateX(-50%)
		&__person
			top: 20px
			left: 0
				
		&__img
			width: auto
			margin-left: 40px
		&__content
			max-width: 100%
			margin-left: 0
		&__title
			text-align: center
			margin-left: auto
			margin-right: auto
		&__subtitle
			max-width: 400px
			margin-left: auto
			margin-right: auto
			text-align: center
			margin-bottom: 400px
		&__form
			z-index: 1
			position: relative
			margin-left: 0
			padding: 35px

	.articles
		&__section
			width: 100%
		&__aside
			display: none

	.pagination
		// &__list
		&__item
			width: 100%

	.article
		&__img
			height: 380px
			margin-bottom: 30px

	.t1
		h1
			font-size: 30px
			line-height: 40px
		ul
			li
				padding-left: 20px
				&:before
					left: 5px
		blockquote
			margin-left: 0

	.more
		&__list
			margin-left: -5px
			margin-right: -5px
		&__item
			padding: 15px
			width: calc(100% / 3 - 10px)
			margin-left: 5px
			margin-right: 5px
		&__head
			margin-bottom: 10px
		&__date
			font-size: 11px
			padding: 6px 12px
			height: auto
		&__img
			height: 160px
		&__name
			font-size: 14px
			line-height: 21px

			
	.jobs
		&__item
			padding-left: 0
			padding-right: 20px

	.job
		&__text
			max-width: 470px
	
	.j-form
		padding: 35px
		&__wrap
			margin-left: -10px
			margin-right: -10px
			margin-bottom: -20px
		&__item
			width: calc(100% / 2 - 20px)
			margin-left: 10px
			margin-right: 10px
			margin-bottom: 20px


	.parking
		margin-left: 0
		width: 50%


	.about
		&__name
			font-size: 14px
		&__text
			font-size: 14px
			line-height: 21px
	.team
		padding-bottom: 40px
		&__list
			margin-left: -5px
			margin-right: -5px
			margin-bottom: -20px
		&__item
			width: calc(100% / 4 - 10px)
			margin-left: 5px
			margin-right: 5px
			margin-bottom: 20px
			min-height: 430px

		&__btn
			display: none
			

	.breadcrumbs
		padding-top: 15px


	.contacts-p
		padding-bottom: 170px

	.footer
		&__contacts
			margin-right: 0
		&__callback
			display: none
		&__mid-wrap
			align-items: center
		&__navs
			width: 100%
			margin-left: -10px
			margin-right: -10px
			margin-bottom: 30px

		&__nav
			width: calc(100% / 3 - 20px)
			max-width: none
			margin-left: 10px
			margin-right: 10px
		
		&__dev
			margin-left: auto

		&__copy
			p
				display: inline
			br
				display: none
			

@media only screen and (max-width: 768px)
	.case
		max-width: 100%