extends ../../templates/default
block vars
	-
		title = "Соотрудничество"
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	- cooperatePage = true
	include ../../parts/cooperate