extends ../../templates/default
block vars
	-
		title = ""
		breadcrumbs = [
			['Главная', 'index.html'],
			[title]
		]
block content
	.work
		.case
			+breadcrumbs('work__breadcrumbs')
			.work__imgs.w-sli
				.w-sli__list
					.w-sli__list-wrap
						.w-sli__list-list
							.w-sli__list-item
								img(src="" alt="")
							.w-sli__list-item
								img(src="" alt="")
							.w-sli__list-item
								img(src="" alt="")
							.w-sli__list-item
								img(src="" alt="")

				.w-sli__thumbs
					.w-sli__thumbs-wrap
						.w-sli__thumbs-list
							.w-sli__thumbs-item
								img(src="" alt="")
							.w-sli__thumbs-item
								img(src="" alt="")
							.w-sli__thumbs-item
								img(src="" alt="")
							.w-sli__thumbs-item
								img(src="" alt="")
			.work__inner
				.work__title.h1 Механизированная штукатурка стен, откосов в загородном доме 800 м2
				.work__wrap
					.work__content
						.work__data.row
							.works__data-item.d
								.d__icon
								.d__text
									.d__title Площадь по полу:
									.d__value 1000 м#[sup 2]

							.works__data-item.d
								.d__icon
								.d__text
									.d__title Площадь по стенам:
									.d__value 4000 м#[sup 2]

							.works__data-item.d
								.d__icon
								.d__text
									.d__title СРОК: 
									.d__value 4 дня

							.works__data-item.d.--full
								.d__icon
								.d__text
									.d__title Описание:
									.d__value Клиент заказал у нас услугу по механизированной штукатурке в собственной #[br]квартире. Мы сделали замеры, а далее провели оштукатуривание. Он получил #[br]качественно выполненную работу без лишних временных затрат. #[br]Вся работа обошлась в 220 000 рублей (сумма уже включает в себя #[br]стоимость работы и материалов)
									
							.works__data-item.d.--full
								.d__icon
								.d__text
									.d__title Стоимость:
									.d__value 220 000 рублей «под ключ» с доставкой, #[br]работой и материалами
						a.work__btn.btn.--md.--bg-blue(href="") У МЕНЯ ПОХОЖАЯ ЗАДАЧА
					.work__gifts.w-gifts
						.w-gifts__list
							.w-gifts__item
								.w-gifts__text
									.w-gifts__name Гарантия 3 года
									.w-gifts__desc Если со штукатуркой будут проблемы, #[br]исправим их за свой счет
								.w-gifts__img
									img(src="" alt="")
							.w-gifts__item
								.w-gifts__text
									.w-gifts__name Сэкономим вам до 30% #[br]на материалах
									.w-gifts__desc Покупаем по оптовым ценам #[br]штукатурку напрямую с завода #[br]и храним на своём складе
								.w-gifts__img
									img(src="" alt="")
							.w-gifts__item
								.w-gifts__text
									.w-gifts__name даем гарантию лучшей цены
									.w-gifts__desc Если найдете дешевле, #[br]мы снизим цену на 10%
								.w-gifts__img
									img(src="" alt="")