@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap");
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #484e51;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-weight: 400;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #484e51;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: #484e51;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
}

svg {
  display: block;
}

path, circle, rect, line {
  transition: 0.3s;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.case {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.case .case {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.mla {
  margin-left: auto;
}

.mra {
  margin-right: auto;
}

.btn {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  outline: none;
  border-bottom: none;
}
.btn.--sm {
  font-size: 14px;
  font-weight: 600;
  height: 60px;
  border-radius: 5px;
  padding: 5px 35px;
}
.btn.--md {
  font-size: 13px;
  font-weight: 700;
  height: 68px;
  border-radius: 5px;
  letter-spacing: 1.3px;
  padding: 5px 42px;
}
.btn.--bg-white {
  background-color: #fff;
}
.btn.--bg-white:hover {
  color: #2a88d1;
}
.btn.--bg-blue {
  color: #fff;
  background-color: #2a88d1;
  box-shadow: inset 5px 5px 20px rgba(255, 255, 255, 0.35);
}

sup {
  font-size: 0.6em;
  position: relative;
  top: -2px;
}

.h1 {
  font-size: 47px;
  line-height: 66px;
  font-weight: 500;
  letter-spacing: 0.94px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.h1 strong {
  font-weight: 700;
}
.h1 u {
  align-items: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  height: 50px;
  border-radius: 3px;
  background-color: #fff;
  color: #4caf50;
  padding: 14px 25px;
  letter-spacing: 0.72px;
  position: relative;
}
.h1 u:before {
  content: "";
  position: absolute;
  top: 13px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}

.h2 {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.h3 {
  font-size: 18px;
  line-height: 27px;
  font-family: "Manrope", sans-serif;
}

.h4 {
  font-size: 15px;
  line-height: 27px;
  font-family: "Manrope", sans-serif;
}

.h5 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.h6 {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
}

.overflow-disable {
  overflow: hidden;
}

.bg-wrap {
  z-index: 1;
  position: relative;
}
.bg-wrap .bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg-wrap .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__wrap {
  border-bottom: 1px solid rgba(87, 94, 98, 0.1);
}
.header__inner {
  align-items: center;
  padding-top: 27px;
  padding-bottom: 32px;
}
.header__quote {
  border-radius: 8px;
  background-color: #fff;
  max-width: 176px;
  font-size: 12px;
  padding: 16px 16px;
  position: relative;
  margin-left: 25px;
}
.header__quote span {
  opacity: 0.8;
}
.header__quote:after {
  content: "";
  position: absolute;
  left: -11px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 10px 0;
  border-color: transparent #ffffff transparent transparent;
}
.header__address {
  max-width: 175px;
  margin-left: 40px;
}
.header__links {
  margin-left: 55px;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  margin-left: auto;
  margin-right: 25px;
}

.panel {
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
}
.panel__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-bottom: none;
}
.panel__nav {
  padding: 25px 55px 25px 45px;
  width: calc(100% - 150px);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.panel__nav ul {
  justify-content: space-between;
}
.panel__nav a {
  font-size: 11px;
  letter-spacing: 0.88px;
  color: #575e62;
}
.panel__nav a:hover {
  color: #2a88d1;
}

.ya {
  max-width: 155px;
  text-transform: uppercase;
}
.ya__head {
  align-items: center;
  margin-bottom: 5px;
}
.ya__icon {
  font-size: 0;
}
.ya__title {
  margin-left: 7px;
  font-size: 11px;
  letter-spacing: 0.44px;
}
.ya__title strong {
  font-weight: 600;
}
.ya__desc {
  font-size: 11px;
  letter-spacing: 0.44px;
}

.contact__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 7px;
}
.contact__icon {
  width: 8px;
  font-size: 0;
}
.contact__icon path {
  fill: #2a88d1;
}
.contact__title {
  width: calc(100% - 8px);
  padding-left: 6px;
  font-size: 11px;
  opacity: 0.7;
  color: #575e62;
}
.contact__value {
  font-size: 11px;
  text-transform: uppercase;
}

.links ul {
  flex-direction: column;
}
.links li {
  margin-bottom: 8px;
}
.links li:last-of-type {
  margin-bottom: 0;
}
.links a {
  color: #2a88d1;
  font-size: 11px;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  border-bottom: 1px dashed #2a88d1;
  padding-bottom: 3px;
}
.links a:hover {
  color: #4caf50;
}

.phone {
  font-size: 18px;
  font-weight: 600;
}

.time {
  font-size: 12px;
  font-weight: 300;
  padding-left: 17px;
  position: relative;
}
.time:before {
  position: absolute;
  top: 50%;
  left: 4px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: #45b048;
}

.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #fff;
}
.round:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transform: translate(-50%, -50%);
}
.round__wrap {
  z-index: 1;
  position: relative;
}
.round__img {
  margin-bottom: 20px;
}
.round__img img {
  margin-left: auto;
  margin-right: auto;
}
.round__text {
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.first-slide {
  padding-top: 195px;
}

.intro {
  padding-bottom: 140px;
  height: 1005px;
}
.intro__content {
  padding-top: 81px;
}
.intro__title strong {
  font-size: 54px;
  letter-spacing: 1.08px;
}
.intro__title u {
  position: relative;
  top: -7px;
}
.intro__subtitle {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
}
.intro__subtitle svg {
  width: 10px;
}
.intro__subtitle svg path {
  fill: #c5c7c8;
}
.intro__subtitle span {
  margin-left: 15px;
}
.intro__round {
  top: 52px;
  right: 15px;
  position: absolute;
}
.intro__btn {
  margin-top: 40px;
  display: inline-flex;
}
.intro__img {
  z-index: 2;
  position: absolute;
  bottom: -180px;
  left: 553px;
}
.intro__tool {
  z-index: 1;
  position: absolute;
  bottom: -245px;
  right: -132px;
}

.b-materials {
  max-width: 690px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}
.b-materials__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
}
.b-materials__img img {
  position: relative;
  left: 10px;
}
.b-materials__text {
  padding: 36px 150px 36px 0;
  line-height: 27px;
  width: calc(100% - 145px);
}
.b-materials__text strong {
  font-weight: 600;
  color: #2b2d2e;
}

.b {
  z-index: 1;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 60px rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 10px;
}
.b:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 0 3px 60px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.advantages {
  z-index: 10;
  position: relative;
  margin-top: -140px;
}
.advantages__list {
  position: relative;
}
.advantages__list:before, .advantages__list:after {
  content: "";
  position: absolute;
  background-color: #fff;
}
.advantages__list:before {
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
}
.advantages__list:after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  text-align: center;
  padding: 50px 35px 85px;
  border-right: 1px solid rgba(72, 78, 81, 0.07);
  border-bottom: 1px solid rgba(72, 78, 81, 0.07);
}
.advantages__item:nth-of-type(1) .advantages__icon {
  top: 12px;
}
.advantages__item:nth-of-type(2) .advantages__icon {
  left: 10px;
}
.advantages__item:nth-of-type(4) .advantages__icon {
  top: 5px;
  left: 13px;
}
.advantages__icon {
  position: relative;
  width: 100%;
  height: 115px;
  margin-bottom: 15px;
}
.advantages__icon img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.advantages__subtitle {
  margin-bottom: 5px;
}
.advantages__text {
  opacity: 0.9;
  font-size: 14px;
  line-height: 23px;
}

.person {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}
.person__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.person__name {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.78px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.person__position {
  font-size: 13px;
  line-height: 20px;
  color: #111111;
  opacity: 0.9;
}

.bi {
  display: flex;
}
.bi__icon {
  width: 50px;
  position: relative;
}
.bi__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none !important;
  max-height: none !important;
}
.bi__text {
  width: calc(100% - 50px);
  padding-left: 18px;
}

.quote {
  padding: 40px 45px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 60px rgba(0, 0, 0, 0.08);
}
.quote h3 {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 14px;
  position: relative;
  padding-left: 30px;
  letter-spacing: 0.32px;
  font-family: "Montserrat", sans-serif;
}
.quote h3:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 12px;
  transform: translateY(-50%);
  background: url("../imgs/quote.png") no-repeat;
}
.quote p {
  font-size: 14px;
  line-height: 27px;
  opacity: 0.85;
}

.best-price {
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding-top: 110px;
}
.best-price__person {
  position: absolute;
  top: 0;
  left: 15px;
}
.best-price__person:before {
  content: "";
  top: 15px;
  right: -117px;
  position: absolute;
  width: 137px;
  height: 100px;
  background: url("../imgs/line-1.svg");
}
.best-price__content {
  z-index: 1;
  position: relative;
  width: 100%;
  margin-left: auto;
  max-width: 580px;
  padding-bottom: 120px;
}
.best-price__subtitle {
  margin-top: 15px;
  margin-bottom: 40px;
}
.best-price__quote {
  margin-bottom: 50px;
}
.best-price__img {
  position: absolute;
  bottom: -164px;
  left: 100px;
}
.best-price__foot {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.best-price__btn {
  width: 100%;
  max-width: 280px;
}
.best-price__btn.btn {
  padding-left: 30px;
  padding-right: 30px;
}
.best-price__btn-desc {
  width: 100%;
  max-width: 250px;
  margin-left: 30px;
  font-size: 12px;
  line-height: 22px;
}
.best-price__bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1880px;
  transform: translateX(-50%);
}

.surface {
  padding-top: 95px;
}
.surface__title {
  text-align: center;
  margin-bottom: 45px;
}
.surface__list {
  position: relative;
}
.surface__list:before, .surface__list:after {
  content: "";
  position: absolute;
  background-color: #fff;
}
.surface__list:before {
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
}
.surface__list:after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}
.surface__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  padding: 60px 20px 72px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.surface__item:nth-of-type(1) .surface__img {
  top: -25px;
}
.surface__item:nth-of-type(1) .surface__img img {
  width: 180px;
  height: 180px;
  max-width: none !important;
  max-height: none !important;
}
.surface__img {
  position: relative;
  height: 131px;
  margin-bottom: 10px;
}
.surface__name {
  z-index: 1;
  position: relative;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  text-align: center;
}

.price {
  padding-top: 100px;
}
.price__title {
  text-align: center;
  margin-bottom: 20px;
}
.price__title sup {
  top: -1px;
  font-size: 0.5em;
}
.price__subtitle {
  opacity: 0.6;
  text-align: center;
  margin-bottom: 100px;
}
.price__item {
  width: calc(100% / 3 - 30px);
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 3px 60px rgba(0, 0, 0, 0.05);
}

.t2 h3 {
  line-height: 27px;
  font-weight: 700;
  display: block;
}
.t2 ul {
  flex-direction: column;
}
.t2 li {
  color: rgba(72, 78, 81, 0.8);
  position: relative;
  padding-left: 16px;
  position: relative;
  line-height: 27px;
}
.t2 li:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2a88d1;
  border: 2px solid rgba(42, 136, 209, 0.31);
}

.p__title {
  opacity: 0.5;
  font-size: 10px;
  letter-spacing: 0.2px;
  margin-bottom: 5px;
}
.p__value {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.p__value sup {
  top: 0;
}
.p__tog {
  position: relative;
  padding-left: 29px;
  font-size: 13px;
  margin-top: 8px;
}
.p__tog:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f4f4f4;
}

.p-item {
  display: flex;
  flex-direction: column;
}
.p-item__head {
  padding-bottom: 35px;
  border-bottom: 1px solid #eeeeee;
}
.p-item__img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 131px;
  margin-top: -47px;
  margin-bottom: 13px;
}
.p-item__title {
  font-size: 12px;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 7px;
}
.p-item__name {
  font-size: 16px;
  letter-spacing: 0.32px;
  text-align: center;
}
.p-item__body {
  padding: 42px 20px 0 45px;
  margin-bottom: 20px;
}
.p-item__price {
  margin-top: auto;
  margin-bottom: 45px;
  padding-left: 45px;
  padding-right: 20px;
}
.p-item__foot {
  border-top: 1px solid #eeeeee;
}